# MariaDB 설치 및 데이터적재 (기초)

## Step.1 관련 툴 설치

- [MariaDB 설치방법](https://cha-coding.tistory.com/entry/MariaDB-%EC%9C%88%EB%8F%84%EC%9A%B010-MariaDB-%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0)

    **(주의) id/password 는 root/root1234 로 통일**  
    -- Enable access from remote machines for 'root' user : 외부 원격 시스템에서 'root' 계정에 대해 접근을 허용한다.   
    -- User UTF8 as default server's charactor set (필수) : 서버의 문자셋을 UTF8로 설정한다.    
    -- MySQL과 MariaDB는 기본적으로 3306 포트를 이용한다.


- [MariaDB 다운로드](https://mariadb.org/download/?t=mariadb&p=mariadb&r=11.3.2&os=windows&cpu=x86_64&pkg=msi&mirror=blendbyte)


- [HeidiSQL다운로드](https://www.heidisql.com/download.php)

    **(신규 데이터베이스 생성**   
    -- <새로생성> - <데이터베이스> - 이름은 'dbmaria'    
          
    **(신규 사용자 등록)**    
    -- 1. 프로그램 상단의 [도구] - [사용자 관리자] 메뉴 클릭   
    -- 2. [추가] 버튼 클릭    
    -- 3. 사용자 이름(user), 암호(user1234), 호스트(모든곳에서접근), 데이터베이스(dbmaria) 설정을 해준다.

## Step.2 MariaDB 연결 (pymysql 사용)

In [35]:
# pymysql 라이브러리를 설치합니다.
# !pip install pymysql

#### 아래 실행 전 테이블 삭제
def db_delete():
    import pymysql
    # MariaDB 연결
    conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
    # 커서 생성
    cur = conn.cursor()
    # User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
    cur.execute('''DROP TABLE user''')
    # 변경사항 커밋
    conn.commit()
    # 연결 종료
    conn.close()

In [36]:
#db_delete()

- 테이블 생성 및 샘플 데이터 추가

In [37]:
import pandas as pd

In [39]:
import pymysql
# MariaDB 연결
conn = pymysql.connect(host='127.0.0.1', user='root', password='root1234', db='dbmaria', charset='utf8')
# 커서 생성
cur = conn.cursor()
# User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
cur.execute('''CREATE TABLE IF NOT EXISTS user (
                nameUser VARCHAR(255) PRIMARY KEY,
                ageUser INTEGER,
                phoneUser VARCHAR(20)
            )''')
# 삽입할 데이터
data_list = [
    ('user1', 25, '010-0123-4567'),
    ('user2', 30, '010-1234-5678'),
    ('user3', 35, '010-2345-6789'),
    ('user4', 40, '010-3456-7890'),
    ('user5', 66, '010-3676-7230')
]
# 데이터 삽입
sql = "INSERT INTO user (nameUser, ageUser, phoneUser) VALUES (%s, %s, %s)"
cur.executemany(sql, data_list)
# 변경사항 커밋
conn.commit()
# 연결 종료
conn.close()

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

- 테이블 데이터 조회

In [34]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='root', password='root1234', db='dbmaria', charset='utf8')
cur = conn.cursor()
sql = "SELECT * FROM user"
cur.execute(sql)
results = cur.fetchall()
for i in results:
    print(i[0] + " / " + str(i[1]) + " / " + i[2])
conn.close()

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

In [ ]:
import pymysql
def db_query():
    conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
    cur = conn.cursor()
    sql = "SELECT * FROM user"
    cur.execute(sql)
    results = cur.fetchall()
    for i in results:
        print(i[0] + " / " + str(i[1]) + " / " + i[2])
    conn.close()

- 테이블에서 데이터 수정

In [ ]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
cur = conn.cursor()
sql = "UPDATE User SET ageUser = 25 WHERE nameUser = 'user4'"
cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
db_query()

- 테이블에 데이터 추가

In [ ]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
cur = conn.cursor()
sql = "INSERT INTO User (nameUser, ageUser, phoneUser) VALUE ('user6',25,'010-0123-4567')"
#sql = "INSERT INTO User (nameUser, ageUser, phoneUser) VALUE ('user7',35,'010-0233-4587')"
cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
db_query()

- 테이블에서 데이터 삭제

In [ ]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
cur = conn.cursor()
sql = "DELETE FROM User WHERE nameUser = 'user6'"
cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
db_query()

In [ ]:
db_delete()