# 입문자를 위한, 파이썬 리뷰

## 사칙연산

In [ ]:
1 + 11

In [ ]:
7 - 19

In [ ]:
3 * 5

In [ ]:
5 / 7

In [ ]:
print(2 ** 3)     # 2의 세제곱

In [ ]:
print(9 % 7)      # 8에서 7을 나눈 나머지 (%)

In [ ]:
print(9 // 7)     # 8에서 7을 나눈 몫 (//)

### 등호 / 부등호 연산자

In [ ]:
# 1에서 2를 더한 결과는 3이므로, 참(True)이 나옵니다.
1 + 2 == 3

In [ ]:
# 1에서 2를 더한 결과는 4가 아니기 때문에, 거짓(False)이 나옵니다.
1 + 2 == 4

In [ ]:
# 1 + 2는 3이며, 이는 4가 아닙니다. 그러므로 != 연산을 하면 참(True)이 나옵니다.
1 + 2 != 4

In [ ]:
# 1 + 2는 3이며, 이는 4보다 작습니다. 그러므로 < 연산을 하면 결과는 참(True)이 나옵니다.
1 + 2 < 4

In [ ]:
# 정 반대 연산자(>)를 사용하면 결과는 자연스럽게 거짓(False)이 나온다는 것을 알 수 있습니다.
1 + 2 > 4

In [ ]:
# 하지만 미만(<) 연산자가 아닌 이하(<=) 연산자를 사용하면 결과가 달라집니다.
# 1 + 2는 3이며, 이는 3보다 작거나 같기 때문에 결과는 참(True)이 나옵니다.
1 + 2 <= 3

In [ ]:
# 10을 2로 나눈 나머지는 0이므로 참(True)이 나옵니다.
# 즉, 이 코드는 짝수와 홀수를 구분하는 용도로 쓰입니다.
10 % 2 == 0

In [ ]:
11 % 2

In [ ]:
# 반면, 11을 2로 나눈 나머지는 0이 아니므로 거짓(False)이 나옵니다.
11 % 2 == 0

In [ ]:
12 % 2 == 0

In [ ]:
12 % 3 == 0

In [ ]:
# 12를 2로 나눈 나머지는 0이고, 마찬가지로 3으로 나눈 나머지도 0입니다.
# 그러므로 결과는 참(True)이 나옵니다.
12 % 2 == 0 and 12 % 3 == 0

In [ ]:
(14 % 2 == 0)

In [ ]:
(14 % 3 == 0)

In [ ]:
# 14는 2로 나눈 나머지가 0이지만, 3으로 나눈 나머지는 0이 아닙니다.
# 그러므로 결과는 거짓(False)이 나옵니다.
(14 % 2 == 0) and (14 % 3 == 0)

In [ ]:
14 % 3 == 0

In [ ]:
# 반면 or 조건은 둘 중 하나만 참이여도 참이 되기 때문에,
# 아래의 코드는 결과적으로 참(True)이 출력됩니다.
14 % 2 == 0 or 14 % 3 == 0

In [ ]:
11 + 22 != 33

In [ ]:
11 + 22 == 44

In [ ]:
11 + 22 != 44

In [ ]:
11 + 22 < 44

In [ ]:
11 + 22 > 44

In [ ]:
11 + 22 < 33

In [ ]:
11 + 22 <= 33

In [ ]:
11 + 22 > 33

In [ ]:
11 + 22 >= 33

In [ ]:
10 % 2 == 0

In [ ]:
11 % 2 == 0

In [ ]:
12 % 2 == 0 and 12 % 3 == 0

In [ ]:
(14 % 2 == 0) and (14 % 3 == 0)

In [ ]:
14 % 2 == 0 or 14 % 3 == 0

### 변수 Variables

In [ ]:
# a 변수에 3을 할당 합니다.
a = 3

In [ ]:
# b 변수에 5를 할당 합니다.
b = 5

In [ ]:
a

In [ ]:
b

In [ ]:
# 변수 a의 값 3과 변수 b의 값 5가 더해져 결과는 8이 나옵니다.
a + b

In [ ]:
# a에는 3이 b에는 13이 할당 됩니다.
a = 3
b = 13
# 변수 a의 값 3과 변수 b의 값 13가 더해져 결과는 16이 나옵니다.
# 위의 코드와 동일한데도 결과는 다른 값이 출력됩니다. 이는 변수에 다른 값을 할당했기 때문입니다.
a + b

In [ ]:
# a라는 변수에 3을 할당합니다.
a = 3
# a라는 변수를 활용하여 덧셈 연산을 한 뒤 뒤 다시 a에 할당할 수 있습니다.
a = a + 1

In [ ]:
a += 1

In [ ]:
a
b

In [ ]:
# 참고사항 : 쥬피터 노트북은 가장 마지막의 연산값만 출력합니다.
# 중간값 출력을 원한다면 print()를 활용하면 됩니다.
# a의 값은 4이므로 4가 출력됩니다.
print(a)
print(b)

In [ ]:
# 같은 방식으로 a에 새로운 값을 할당해보겠습니다.
# 이번에는 a가 4이므로 여기에 2를 더하면 6이 되며, 이 값을 a에 다시 할당할 수 있습니다.
a = a + 2
a

In [ ]:
# 영문, 숫자+영문, 예약어
a = 55
b = 66

a + b

In [ ]:
a = 33
b = 44

a + b

In [ ]:
a = 33
a = a + 11

print(a)

In [ ]:
# and = a + 22
# print(and)

]

### Boolean 

- 불(bool)은 참(True)과 거짓(False)만을 나타내는 개념
- True 는 1, False 는 0 과 같은 의미로 볼 수 있음

In [ ]:
# 파이썬에서는 True 라는 텍스트로 참을 표현할 수 있습니다.
True

In [ ]:
# 정 반대로 거짓은 False로 표현합니다.
False

In [ ]:
# True와 1은 동일합니다. 반대로 True == 0을 하면 False가 나올 것입니다.
True == 1

In [ ]:
# False와 0은 동일합니다. 반대로 False == 1을 하면 False가 나올 것입니다.
False == 0

In [ ]:
# True와 "True"는 동일하지 않기 때문에 비교하면 False가 나옵니다.
True == "True"

In [ ]:
# 비슷하게 False "False"는 동일하지 않기 때문에 False라고 나옵니다.
False == "False"

In [ ]:
"False"

In [ ]:
1 + 2 != 4

###  문자열 (1)

In [ ]:
# 가령 정수형(1)과 문자열("2")를 더할 경우 에러가 납니다.
# 왜냐하면 정수형과 문자열을 덧셈을 할 수 없기 때문입니다.
#1 + "2"

In [ ]:
# 가령 위 에러는 이렇게 수정할 수 있습니다.
1 + 2

In [ ]:
# 또는 이렇게도 수정할 수 있습니다.
# (파이썬에서는 문자열끼리 덧셈(+)을 하면 두 문자열을 앞뒤로 붙입니다)
'1' + '2'

#### 문자열 포맷팅(formatting)

In [ ]:
# 먼저 apple와 days라는 두 개의 변수를 할당합니다.
apple = 3
days = 5

In [ ]:
# 파이썬의 format이라는 기능을 사용합니다.
# .format() 안에 두 개의 변수(apple, days)를 순서대로 넣고,
# 이 순서를 중괄호를 활용해 {0}, {1} 로 문자열 안에 적습니다.
# 단 프로그래밍 언어에서 모든 숫자의 시작은 0부터 시작한다는 것에 유의합니다.
"I ate {0} apple for {1} days".format(apple, days)

In [ ]:
# 새로운 버전의 파이썬(3.6+)은
# 아래와 같이 더 간결한 방식으로 포메팅을 할 수 있습니다.
f"I ate {apple} bananas for {days} days."

In [ ]:
# 두 개의 소수점 값을 변수에 할당합니다.
float_a = 0.987654321
float_b = 0.123456789

In [ ]:
"I eat %10.4f apples." % float_a

In [ ]:
# float_a 라는 변수에 할당한 값은 소수점 세 자리까지(0:.3)
# float_b 에 할당한 값은 소수점 다섯 자리까지(1:.5) 출력합니다.
"[Accuracy] Model A = {0:.3} Model B = {1:.5}".format(float_a, float_b)

In [ ]:
# 당연하지만 신버전 포메팅을 사용해서 자릿수를 줄여서 출력할 수도 있습니다.
f"[Accuracy] Model A = {float_a:.5f} Model B = {float_b:.3f}"

In [ ]:
"Henry's job"

### 문자열 (2)

In [ ]:
message = "Hello, World!"
message

In [ ]:
# 문자열의 n 번째 알파벳을 출력할 수 있습니다. 이를 인덱싱(Indexing)이라고 합니다.
# 앞서 말씀 드린대로, 모든 프로그래밍 언어는 0부터 숫자를 셉니다.
print(message[0])
print(message[4])

print("----")

# 뒤에서부터 문자를 출력할 때는 -1부터 시작합니다.
print(message[-1])
print(message[-2])

In [ ]:
# 문자열의 특정 부분만 출력할 수 있습니다. 이를 슬라이싱(slicing)이라고 합니다.
# 0:4는 0 번째부터 4번째의 바로 앞인 3 번째까지 출력합니다.
print(message[0:4])

# 위 코드에서는 0을 생략할 수 있습니다.
print(message[:4])

# 비슷한 원리로 끝나는 부분도 생략 가능합니다.
# 이 경우는 문자열의 맨 마지막까지 슬라이싱합니다.
message[4:]

In [ ]:
"Hell" in message

In [ ]:
# in 을 통해 문자열 안에 특정 문자 내지는 문자열이 있는지 확인 할 수 있습니다.
# Hello World에는 H가 있기 때문에 참(True)이 나옵니다.
print("H" in message)

In [ ]:
# 하지만 Hello World에는 A가 없기 때문에 참(True)이 나옵니다.
print("A" in message)

In [ ]:
# 파이썬은 대소문자를 구분합니다.
# 그러므로 "H"는 참(True)이 나오지만 "h"는 거짓(False)이 나옵니다.
print("h" in message)

In [ ]:
# 알파벳 뿐만 아니라 문장도 in 연산자를 사용할 수 있습니다.
print("Hell" in message)

In [ ]:
# upper() 메소드는 모든 문자를 대문자로 변환해주는 함수입니다.
message.upper()

In [ ]:
# lower() 메소드는 모든 문자를 소문자로 변환해주는 함수입니다.
message.lower()

In [ ]:
# count() 메소드는 문자열 내에 특정 문자열/알파벳이 몇 개 있는지 세줍니다.
# 아래 코드는 "Hello World"에서 "o"라는 알파벳이 몇 개 있는지를 세줍니다.
message.count("o")

In [ ]:
# replace() 메소드는 문자열의 특정 부분을 교체할 수 있습니다.
# 다음 코드는 "Hello World"에서 H를 J로 교체합니다.
message.replace("H", "J")

In [ ]:
# split() 메소드는 문자열을 쪼개서 리스트를 만들 수 있습니다.
# split() 안에 특정 문자열을 지정하면 (ex: " ") 해당 문자열을 기준으로 쪼갭니다.
message.split(" ")

In [ ]:
# strip() 메소드는 문자열 좌우에 있는 공백을 제거해줍니다.
# 결과적으로 "   Hello World!  " 문자열이 "Hello World!"로 바뀝니다.
"   Hello, World!  ".strip()

In [ ]:
print(message.lower())

In [ ]:
print(message.upper())

In [ ]:
print(message.count("h"))

In [ ]:
print(message.replace("H", "J"))

In [ ]:
message_split = message.split(" ")

In [ ]:
print(message)
print(message_split)

### 리스트 List

- Python 에서 List 는 다른 개발언어에서 Array(배열) 기능과 유사
- 여러 개의 값(숫자, 문자 등) 을 1개로 묶어서 변수에 할당하는 역할

In [ ]:
# 리스트를 만들 때는 대괄호([])를 사용합니다.
odd = [1, 3, 5, 7, 9]
odd

In [ ]:
# 문자열과 마찬가지로, 인덱싱을 통해 리스트의 n 번째 값을 출력할 수 있습니다.
print(odd[0])
print(odd[4])

print("----")

# 뒤에서부터 값을 가져오는 것도 동일합니다.
print(odd[-1])
print(odd[-2])

In [ ]:
# 슬라이싱도 동일하게 사용할 수 있습니다.
# 아래의 코드는 리스트에서 0번째 값과 4번째 바로 앞에 있는 값(=3번째 값)을 가져옵니다.
odd[0:4]

In [ ]:
# 위 코드에서는 0을 생략할 수 있습니다.
odd[:4]

In [ ]:
# 비슷한 원리로 끝나는 부분도 생략 가능합니다.
# 이 경우는 자연스럽게 문자열의 맨 마지막까지 슬라이싱합니다.
odd[3:]

In [ ]:
# 문자열과 마찬가지로 리스트에 특정값이 포함되어 있는지 확인할 수 있습니다.
# 아래의 코드는 odd라는 리스트에 1이 들어가 있는지 확인합니다.
print(1 in odd)

# odd는 홀수이기 때문에 2는 들어가 있지 않습니다.
print(2 in odd)

# 하지만 3은 들어가 있는 것을 확인할 수 있습니다.
print(3 in odd)

In [ ]:
odd

In [ ]:
# .append() 라는 메소드를 이용하면 리스트에 값을 추가할 수 있습니다.
# 다음의 코드는 odd라는 리스트에 11이라는 값을 추가합니다.
odd.append(11)
odd

In [ ]:
# 정 반대의 기능을 담당하는 것은 .pop()입니다.
# 이 기능을 사용하면 리스트의 마지막 값을 제거합니다.
odd.pop()
odd

In [ ]:
# 마지막이 아닌 특정 위치에 있는 값을 지우고 싶다면 del을 사용합니다.
# 아래 코드는 odd 리스트에 있는 3번째 값(7)을 제거합니다.
del odd[3]
odd

In [ ]:
# 만일 특정한 값을 지우고 싶다면 .remove() 라는 메소드를 사용합니다.
# 아래 코드는 리스트에서 값이 3인 숫자만을 제거합니다.
odd.remove(3)
odd

In [ ]:
# 만일 맨 뒤가 아닌 특정 위치에 값을 넣고 싶다면 .insert()를 사용합니다.
# 아래의 코드는 odd라는 리스트의 0번째에 3이라는 숫자를 집어넣습니다.
odd.insert(0, 3)
odd

In [ ]:
# .sort()는 리스트에 있는 값을 정렬합니다.
# 숫자는 작은 순으로, 알파벳은 빠른 순으로('a' - 'z') 정렬합니다.
odd.sort()#reverse=True)
odd

In [ ]:
# 리스트에서는 덧셈(+)을 사용해서 리스트와 리스트를 합쳐줄 수 있습니다.
# 아래의 코드는 odd라는 리스트와 [13, 15, 17, 19] 라는 리스트를 앞뒤로 붙여줍니다.
odd = odd + [13, 15, 17, 19]
odd

In [ ]:
# 리스트의 인덱싱을 활용하면 특정한 위치에 있는 값을 바꿔줄 수 있습니다.
# 아래의 코드는 odd라는 리스트의 3번째와 5번째에 있는 값을 -1로 변경해줍니다.
odd[3] = -1
odd[5] = -1
odd

#### List : Call by reference

In [ ]:
a = [1,2,3,4,5]

b = a
b[0] = 100

print(a)
print(b)

In [ ]:
print(id(a))   # id() 변수가 저장된 메모리 주소값을 알려주는 함수
print(id(b))   # b = a 과정에서 값이 복사 Assign 되는 것이 아니고, 
               # 주소값이 전달된 것으로 확인가능

In [ ]:
a = [1,2,3,4,5]

b = a.copy()
b[0] = 100

print(a)
print(b)

In [ ]:
# List(이외 dict, set 형도 동일함) 형이 아닐 경우는 
# Call by reference 발생하지 않음 (Call by Value)
a = 200
b = a
print(a)
print(b)

In [ ]:
a = 300
print(a)
print(b)

In [ ]:
[]
{}
()

### 딕셔너리(사전형) Dictionary

- 딕셔너리는 리스트와 유사
- 리스트와의 차이점은, 
  - 1) 리스트는 여러 값(Value)을 순차적으로 담아서 가져오지만, 
  - 2) 딕셔너리는 키(Key)를 지정해주면 키에 해당하는 값(Value)을 가져옴

In [ ]:
# 이 딕셔너리는 키(Key)와 값(Value)으로 이루어짐
voca = {"apple":"사과", "cherry":"체리", "orange":"오렌지"}
voca

In [ ]:
print(voca['apple'])

In [ ]:
voca["pipeapple"] = "파인애플"
voca

In [ ]:
# 특정 값을 제거하고 싶다면 del 을 사용
del voca["cherry"]
voca

In [ ]:
voca["cherry"] = "췌뤼"

In [ ]:
# .keys()는 딕셔너리의 키(Key)들의 리스트를 가져옴
voca.keys()

In [ ]:
# .values()는 딕셔너리의 값(Value)들의 리스트를 가져옴
voca.values()

In [ ]:
# in 연산자 검색 가능
print('apple' in voca)
print('dish' in voca)

### 제어문 :  if ~ elif ~ else condition

참고 : https://velog.io/@yejin20/Python

In [ ]:
age = 15

In [ ]:
age

In [ ]:
if age < 19:
    print("학생")
else:
    print("일반인")

In [ ]:
age = 8

In [ ]:
if age < 10:
    print("어린학생")
#if ~ elif 는 위에서부터 차례대로 검사하는데, 
#위에서 참이 나오면 참인 명령만 실행하고 끝남.
#elif 도 else와 마찬가지로 앞에 if 가 있어야 사용할 수 있음.
#elif 는 else와 다르게 여러개 사용할 수 있음.
elif age < 19:
    print("학생")
else:
    print("일반인")

In [ ]:
odd = [1,3,5,7,9]
odd

In [ ]:
3 in odd

In [ ]:
if not 3 in odd:
    print("3 not exist")
else:
    print("3 exist")

### 반복문 for loop

In [ ]:
basket = ["apple", "banana", "cherry", "pineapple"]
basket

In [ ]:
product = basket[3]
print(product)

In [ ]:
for name in basket:
    print(name)

In [ ]:
name = basket[3] # range() 함수를 써서
print(name)

In [ ]:
for i in range(0, 3+1):
    name = basket[i] 
    print(name)

In [ ]:
# range의 경우 마지막 숫자는 제외 
for i in range(2, 10+1, 2):#+1, 2):
    print(i)

In [ ]:
for i in range(1, 10+1):
    if i == 2:
        continue
    elif i == 8:
        print(i)
        break
    else:
        print(i)

### 함수 Function

In [ ]:
### 함수1
def multiply(a, b):
    # a 변수의 값과 b변수의 값을 곱한 뒤, c 변수에 저장
    c = a * b
    # c 변수 값을 반환 
    return c

In [ ]:
multiply(1, 2)

In [ ]:
multiply(2, 3)

In [ ]:
#??multiply

In [ ]:
multiply(3, 4)

In [ ]:
### 함수2
def self_introduce(name, job = 'Engineer'):
    print(f'My name is {name}, and I am a {job}.')

In [ ]:
self_introduce("홍길동")

In [ ]:
self_introduce('MegaPerson')

In [ ]:
self_introduce('ITperson', 'Teacher')

##### Formatiing

In [ ]:
info_date = '2022-01-19'
info_day = '수요일'

# 파이썬의 format이라는 기능을 사용합니다.
# .format() 안에 두 개의 변수(bananas, days)를 순서대로 넣고,
# 이 순서를 중괄호를 활용해 {0}, {1} 로 문자열 안에 적습니다.
# 단 프로그래밍 언어에서 모든 숫자의 시작은 0부터 시작한다는 것에 유의합니다.
"Today's date is {0} and {1}, right?".format(info_date, info_day)

In [ ]:
f"Today's date is {info_date} and {info_day}, right?"

##### 전역변수/지역변수

In [ ]:
var1 = 10
var1

In [ ]:
def test(a):
    # var1에 test함수의 인자로 입력받은 a를 할당
    var1 = a
    print("var1은", var1)

In [ ]:
# test 함수에 5의 값을 넣고 실행
test(5)

In [ ]:
var1

### 파이썬 자료형 종류 리뷰

1) 숫자형
  - 1, 2, 3, 0, -1, -5, 3.14 
  
2) Boolean
  - True, False
  
3) 문자열
  - "Hello", "메가IT", '빅데이터'

4) 리스트 List
  - [], [1,3,5], ["홍", "길", "동"]

5) 튜플 Tuple
  - (), (1,3,5)

6) 사전 Dictionary
  - {key1 : value1}, {"이름":"홍길동", "성별":"남자"}

7) 집합 Set
  - {}, set([1,3,5]), set("Hello")

]

## 연습

### (1) 다음과 같은 기능을 하는 코드를 작성해보세요

1. 루프를 1부터 10까지 반복합니다. (=i에는 1부터 10까지의 값이 반복해서 들어갑니다)
1. i를 그대로 출력하지 않고, 두 배로 늘려서 출력합니다. (```i * 2```)
1. 반복문 안에서 출력하지 않고, 반복문 안에서 값을 모아뒀다가 반복문이 끝나면 밖에서 출력합니다. 이를 위해서는 빈 리스트를 만든 뒤(```double_list = []```), 리스트의 ```.append``` 기능을 사용해서 값을 집어넣습니다.
1. 여기서 i가 5일 경우는 반복을 한 번만 skip하고 다음 반복(i가 6일 경우)을 재시작합니다.
1. 그리고 i가 8일 경우는 반복문을 강제로 종료시킵니다.

]

### (2) 점수 채점하기

 - 총 12명의 레벨테스트 점수가 파이썬의 리스트(List)로 담겨져 있고,
 - 이를 score라는 이름의 변수에 할당하였습니다.

score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

이 score 변수에 담겨져 있는 값을 활용하여 아래 문제를 풀어보세요.

 - 전체 점수의 평균을 구하는 코드를 작성해보세요.
 - 전체 점수 중 가장 높은 점수를 구하는 코드를 작성해보세요.
 - 전체 점수 중 가장 낮은 점수를 구하는 코드를 작성해보세요.

In [ ]:
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

In [ ]:
score

[평균의 공식](https://ko.wikipedia.org/wiki/%ED%8F%89%EA%B7%A0)

]

### (3) 함수 - 팩토리얼

수학 팩토리얼입니다. 기억이 나지 않는 분들을 위해 예시를 들자면

  * 3! = 3 x 2 x 1 = 6
  * 4! = 4 x 3 x 2 x 1 = 24
  * 5! = 5 x 4 x 3 x 2 x 1 = 120
  
와 같이 동작합니다. 파이썬에서는 간단한 몇 줄의 코드만으로 팩토리얼을 구현할 수 있습니다.

]

### (4) 함수 - 369 게임

다음은 369게임입니다. 369게임은 다음과 같습니다.

1. 1부터 시작해 숫자를 하나씩 센다.
2. 숫자에 3이나 6이나 9 배수일 경우 박수(clap)를 친다.
3. 지정한 최대 숫자까지 도달하면 프로그램을 종료한다.

]

### (5) 콜라츠 추측 (3n+1 문제) 

3n + 1 문제는 다음과 같습니다.

  * n이 홀수면 3을 곱한 뒤 1을 더하고
  * n이 짝수면 2로 나눕니다.
  * 마지막으로 n이 1이 되면 프로그램을 종료합니다.

이 문제 역시 재귀 함수를 사용하면 간단하게 풀 수 있습니다.

참고 : [콜라츠 추측](https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=inwook28&logNo=221622650947)

**산식**

    f(x) = n/2 (if n is even)
         = 3n+1 (if n is odd)