In [45]:
import pandas as pd
import requests
from PIL import Image

1. NASA API

In [24]:
api_key = '5Ej2xxf7hSxVVUT7C0Vmpl7BaBT8FKrlOS7DnySG'

In [25]:
url = f'https://api.nasa.gov/planetary/apod?api_key={api_key}'

In [26]:
earth_url = f'https://api.nasa.gov/planetary/earth/imagery?lon=100.75&lat=1.5&date=2014-02-01&api_key={api_key}'

In [27]:
earth_url2 = f'https://api.nasa.gov/planetary/earth/assets?lon=-95.33&lat=29.78&date=2018-01-01&&dim=0.10&api_key={api_key}'

In [31]:
mars_url = f'https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key={api_key}'

In [5]:
response = requests.get(url)
response

In [13]:
response2 = requests.get(earth_url)
response2

In [28]:
response3 = requests.get(earth_url2)
response3

In [6]:
data = response.json()

In [7]:
data

{'copyright': '\nRolando Ligustri &\n Lukas Demetz \n',
 'date': '2024-06-04',
 'explanation': "Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.",
 'hdurl': 'https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_1601.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'Comet Pons-Brooks Develops Opposing Tails',
 'url': 'https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg'}

In [8]:
print(f"Title: {data['title']}")
print(f"Date: {data['date']}")
print(f"Explanation: {data['explanation']}")
print(f"URL: {data['url']}")

Title: Comet Pons-Brooks Develops Opposing Tails
Date: 2024-06-04
Explanation: Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.
URL: https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg

In [29]:
data2 = response3.json()
data2

{'date': '2018-01-03T16:50:46.890000',
 'id': 'LANDSAT/LC08/C01/T1_SR/LC08_025039_20180103',
 'resource': {'dataset': 'LANDSAT/LC08/C01/T1_SR', 'planet': 'earth'},
 'service_version': 'v5000',
 'url': 'https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/thumbnails/78ef0163adc2d4981e96b6a47dbccd48-fc0c6a459f370bb89afaf13538c4a4dd:getPixels'}

In [30]:
print(f"Title: {data['title']}")
print(f"Date: {data['date']}")
print(f"Explanation: {data['explanation']}")
print(f"URL: {data['url']}")

Title: Comet Pons-Brooks Develops Opposing Tails
Date: 2024-06-04
Explanation: Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.
URL: https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg

In [33]:
response4 = requests.get(mars_url)
response4

In [35]:
response4

In [39]:
data = response4.json()
data

{'photos': [{'id': 424926,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631200305217E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424927,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631190503679E04_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424928,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631190305216E04_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424929,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631180503678E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424930,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631180305215E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424931,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631170503677E03_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424932,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631170305214E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424933,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631160503676E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424934,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631160305213E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424935,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631150503675E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424936,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631150305212E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424937,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631140503674E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424938,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631140305211E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424939,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631130503673E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424940,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631130305210E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424941,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631120305209E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424942,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631120503672E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424943,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631110503671E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424944,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631110305208E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424945,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631100503670E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424946,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631100305207E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424947,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631090503669E02_DXXX.jpg',
   'earth_date': '2015-05-30',

In [40]:
first_photo_url = data['photos'][0]['img_src']

In [41]:
img_url = first_photo_url

In [42]:
img_response = requests.get(img_url)

In [43]:
if img_response.status_code == 200:
    with open('mars_photo.jpg', 'wb') as file:
        file.write(img_response.content)
    print("Image downloaded and saved as 'mars_photo.jpg'")
else:
    print("Failed to download image")

Image downloaded and saved as 'mars_photo.jpg'

In [46]:
image = Image.open('mars_photo.jpg')

In [47]:
image.show()

2. Weather API

In [198]:
import pandas as pd
import requests
import json
# from datetime import datetime 
import datetime

In [19]:
geo_key = 'c4cb929c6768bf7eba452db51e1e3182'
weather_key = 'c0990b317a2da25752f6f7d46a42ff47'

In [3]:
city_name = 'Seoul'

In [20]:
geo_url = f'http://api.openweathermap.org/geo/1.0/direct?q={city_name}&limit=1&appid={geo_key}'
geo_url

'http://api.openweathermap.org/geo/1.0/direct?q=Seoul&limit=1&appid=c4cb929c6768bf7eba452db51e1e3182'

In [21]:
geo_response = requests.get(geo_url)
geo_response

In [22]:
geo_data = geo_response.json()
geo_data

[{'name': 'Seoul',
  'local_names': {'uz': 'Seul',
   'am': 'ሶል',
   'de': 'Seoul',
   'hi': 'सियोल',
   'tg': 'Сеул',
   'sl': 'Seul',
   'eo': 'Seulo',
   'cv': 'Сеул',
   'he': 'סיאול',
   'th': 'โซล',
   'hr': 'Seul',
   'lv': 'Seula',
   'el': 'Σεούλ',
   'ro': 'Seul',
   'vi': 'Seoul',
   'bn': 'সিওল',
   'ku': 'Sêûl',
   'yi': 'סעאל',
   'nl': 'Seoel',
   'vo': 'Söul',
   'cs': 'Soul',
   'pl': 'Seul',
   'qu': 'Siul',
   'kn': 'ಸೌಲ್',
   'az': 'Seul',
   'be': 'Сеул',
   'et': 'Sŏul',
   'af': 'Seoel',
   'bg': 'Сеул',
   'la': 'Seulum',
   'mr': 'सोल',
   'ml': 'സോൾ',
   'ba': 'Сеул',
   'my': 'ဆိုးလ်မြို့',
   'bs': 'Seul',
   'uk': 'Сеул',
   'en': 'Seoul',
   'eu': 'Seul',
   'sk': 'Soul',
   'mn': 'Сөүл',
   'ka': 'სეული',
   'an': 'Seúl',
   'bh': 'सियोल',
   'mk': 'Сеул',
   'ca': 'Seül',
   'sr': 'Сеул',
   'es': 'Seúl',
   'ky': 'Сеул',
   'fi': 'Soul',
   'fr': 'Séoul',
   'ru': 'Сеул',
   'pt': 'Seul',
   'is': 'Seúl',
   'bo': 'སེ་ཨུལ།',
   'fa': 'سئول',
   'kk': 'Сеул',
   'zh': '首尔市 / 首爾',
   'lt': 'Seulas',
   'tk': 'Seul',
   'hy': 'Սեուլ',
   'os': 'Сеул',
   'hu': 'Szöul',
   'tr': 'Seul',
   'ta': 'சியோல்',
   'sv': 'Seoul',
   'ko': '서울',
   'ur': 'سؤل',
   'ar': 'سول',
   'it': 'Seul',
   'ja': 'ソウル',
   'km': 'សេអ៊ូល',
   'oc': 'Seol',
   'gl': 'Seúl'},
  'lat': 37.5666791,
  'lon': 126.9782914,
  'country': 'KR'}]

In [24]:
e_name = geo_data[0]['name']
e_name

'Seoul'

In [25]:
country = geo_data[0]['country']
country

'KR'

In [26]:
lat = geo_data[0]['lat']
lat

37.5666791

In [27]:
lon = geo_data[0]['lon']
lon

126.9782914

In [39]:
weather_url = f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude=hourly,daily&appid={geo_key}'
weather_url

'https://api.openweathermap.org/data/3.0/onecall?lat=37.5666791&lon=126.9782914&exclude=hourly,daily&appid=c4cb929c6768bf7eba452db51e1e3182'

In [200]:
weather_response = requests.get(weather_url)
weather_response

In [214]:
weather_data = weather_response.json()

In [215]:
weather_data

{'lat': 37.5667,
 'lon': 126.9783,
 'timezone': 'Asia/Seoul',
 'timezone_offset': 32400,
 'current': {'dt': 1717488949,
  'sunrise': 1717445500,
  'sunset': 1717498168,
  'temp': 300.57,
  'feels_like': 300.12,
  'pressure': 1015,
  'humidity': 36,
  'dew_point': 284.19,
  'uvi': 1.73,
  'clouds': 0,
  'visibility': 10000,
  'wind_speed': 5.66,
  'wind_deg': 270,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}]},
 'minutely': [{'dt': 1717488960, 'precipitation': 0},
  {'dt': 1717489020, 'precipitation': 0},
  {'dt': 1717489080, 'precipitation': 0},
  {'dt': 1717489140, 'precipitation': 0},
  {'dt': 1717489200, 'precipitation': 0},
  {'dt': 1717489260, 'precipitation': 0},
  {'dt': 1717489320, 'precipitation': 0},
  {'dt': 1717489380, 'precipitation': 0},
  {'dt': 1717489440, 'precipitation': 0},
  {'dt': 1717489500, 'precipitation': 0},
  {'dt': 1717489560, 'precipitation': 0},
  {'dt': 1717489620, 'precipitation': 0},
  {'dt': 1717489680, 'precipitation': 0},
  {'dt': 1717489740, 'precipitation': 0},
  {'dt': 1717489800, 'precipitation': 0},
  {'dt': 1717489860, 'precipitation': 0},
  {'dt': 1717489920, 'precipitation': 0},
  {'dt': 1717489980, 'precipitation': 0},
  {'dt': 1717490040, 'precipitation': 0},
  {'dt': 1717490100, 'precipitation': 0},
  {'dt': 1717490160, 'precipitation': 0},
  {'dt': 1717490220, 'precipitation': 0},
  {'dt': 1717490280, 'precipitation': 0},
  {'dt': 1717490340, 'precipitation': 0},
  {'dt': 1717490400, 'precipitation': 0},
  {'dt': 1717490460, 'precipitation': 0},
  {'dt': 1717490520, 'precipitation': 0},
  {'dt': 1717490580, 'precipitation': 0},
  {'dt': 1717490640, 'precipitation': 0},
  {'dt': 1717490700, 'precipitation': 0},
  {'dt': 1717490760, 'precipitation': 0},
  {'dt': 1717490820, 'precipitation': 0},
  {'dt': 1717490880, 'precipitation': 0},
  {'dt': 1717490940, 'precipitation': 0},
  {'dt': 1717491000, 'precipitation': 0},
  {'dt': 1717491060, 'precipitation': 0},
  {'dt': 1717491120, 'precipitation': 0},
  {'dt': 1717491180, 'precipitation': 0},
  {'dt': 1717491240, 'precipitation': 0},
  {'dt': 1717491300, 'precipitation': 0},
  {'dt': 1717491360, 'precipitation': 0},
  {'dt': 1717491420, 'precipitation': 0},
  {'dt': 1717491480, 'precipitation': 0},
  {'dt': 1717491540, 'precipitation': 0},
  {'dt': 1717491600, 'precipitation': 0},
  {'dt': 1717491660, 'precipitation': 0},
  {'dt': 1717491720, 'precipitation': 0},
  {'dt': 1717491780, 'precipitation': 0},
  {'dt': 1717491840, 'precipitation': 0},
  {'dt': 1717491900, 'precipitation': 0},
  {'dt': 1717491960, 'precipitation': 0},
  {'dt': 1717492020, 'precipitation': 0},
  {'dt': 1717492080, 'precipitation': 0},
  {'dt': 1717492140, 'precipitation': 0},
  {'dt': 1717492200, 'precipitation': 0},
  {'dt': 1717492260, 'precipitation': 0},
  {'dt': 1717492320, 'precipitation': 0},
  {'dt': 1717492380, 'precipitation': 0},
  {'dt': 1717492440, 'precipitation': 0},
  {'dt': 1717492500, 'precipitation': 0}]}

In [216]:
type(weather_data)

dict

In [217]:
# current 데이터 변환
current_data = weather_data['current']
weather_info = current_data.pop('weather')[0]

current_data.update(weather_info)
current_df = pd.DataFrame([current_data])

# minutely 데이터 변환
minutely_data = weather_data['minutely']
minutely_df = pd.DataFrame(minutely_data)

print("Current DataFrame:")
print(current_df)
print("\nMinutely DataFrame:")
print(minutely_df)

Current DataFrame:
           dt     sunrise      sunset    temp  feels_like  pressure  humidity  \
0  1717488949  1717445500  1717498168  300.57      300.12      1015        36

   dew_point   uvi  clouds  visibility  wind_speed  wind_deg   id   main  \
0     284.19  1.73       0       10000        5.66       270  800  Clear

  description icon
0   clear sky  01d

Minutely DataFrame:
            dt  precipitation
0   1717488960              0
1   1717489020              0
2   1717489080              0
3   1717489140              0
4   1717489200              0
5   1717489260              0
6   1717489320              0
7   1717489380              0
8   1717489440              0
9   1717489500              0
10  1717489560              0
11  1717489620              0
12  1717489680              0
13  1717489740              0
14  1717489800              0
15  1717489860              0
16  1717489920              0
17  1717489980              0
18  1717490040              0
19  1717490100              0
20  1717490160              0
21  1717490220              0
22  1717490280              0
23  1717490340              0
24  1717490400              0
25  1717490460              0
26  1717490520              0
27  1717490580              0
28  1717490640              0
29  1717490700              0
30  1717490760              0
31  1717490820              0
32  1717490880              0
33  1717490940              0
34  1717491000              0
35  1717491060              0
36  1717491120              0
37  1717491180              0
38  1717491240              0
39  1717491300              0
40  1717491360              0
41  1717491420              0
42  1717491480              0
43  1717491540              0
44  1717491600              0
45  1717491660              0
46  1717491720              0
47  1717491780              0
48  1717491840              0
49  1717491900              0
50  1717491960              0
51  1717492020              0
52  1717492080              0
53  1717492140              0
54  1717492200              0
55  1717492260              0
56  1717492320              0
57  1717492380              0
58  1717492440              0
59  1717492500              0

In [218]:
current_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,id,main,description,icon
0,1717488949,1717445500,1717498168,300.57,300.12,1015,36,284.19,1.73,0,10000,5.66,270,800,Clear,clear sky,01d

In [219]:
minutely_df

            dt  precipitation
0   1717488960              0
1   1717489020              0
2   1717489080              0
3   1717489140              0
4   1717489200              0
5   1717489260              0
6   1717489320              0
7   1717489380              0
8   1717489440              0
9   1717489500              0
10  1717489560              0
11  1717489620              0
12  1717489680              0
13  1717489740              0
14  1717489800              0
15  1717489860              0
16  1717489920              0
17  1717489980              0
18  1717490040              0
19  1717490100              0
20  1717490160              0
21  1717490220              0
22  1717490280              0
23  1717490340              0
24  1717490400              0
25  1717490460              0
26  1717490520              0
27  1717490580              0
28  1717490640              0
29  1717490700              0
30  1717490760              0
31  1717490820              0
32  1717490880              0
33  1717490940              0
34  1717491000              0
35  1717491060              0
36  1717491120              0
37  1717491180              0
38  1717491240              0
39  1717491300              0
40  1717491360              0
41  1717491420              0
42  1717491480              0
43  1717491540              0
44  1717491600              0
45  1717491660              0
46  1717491720              0
47  1717491780              0
48  1717491840              0
49  1717491900              0
50  1717491960              0
51  1717492020              0
52  1717492080              0
53  1717492140              0
54  1717492200              0
55  1717492260              0
56  1717492320              0
57  1717492380              0
58  1717492440              0
59  1717492500              0

In [220]:
timezone_offset = weather_data['timezone_offset']
timezone_delta = datetime.timedelta(seconds=timezone_offset)

In [221]:
timezone_delta = datetime.timedelta(seconds=timezone_offset)
timezone_delta

datetime.timedelta(seconds=32400)

In [222]:
for col in ['dt', 'sunrise', 'sunset']:
    current_df[col] = current_df[col].apply(lambda x: datetime.datetime.utcfromtimestamp(x) + timezone_delta)
    current_df[col] = current_df[col].dt.strftime('%Y-%m-%d %H:%M:%S')
current_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,id,main,description,icon
0,2024-06-04 17:15:49,2024-06-04 05:11:40,2024-06-04 19:49:28,300.57,300.12,1015,36,284.19,1.73,0,10000,5.66,270,800,Clear,clear sky,01d

In [223]:
minutely_df['dt'] = minutely_df['dt'].apply(lambda x: datetime.datetime.utcfromtimestamp(x) + timezone_delta)
minutely_df['dt'] = minutely_df['dt'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [227]:
minutely_df.sort_values('dt', ascending=False)

                     dt  precipitation
59  2024-06-04 18:15:00              0
58  2024-06-04 18:14:00              0
57  2024-06-04 18:13:00              0
56  2024-06-04 18:12:00              0
55  2024-06-04 18:11:00              0
54  2024-06-04 18:10:00              0
53  2024-06-04 18:09:00              0
52  2024-06-04 18:08:00              0
51  2024-06-04 18:07:00              0
50  2024-06-04 18:06:00              0
49  2024-06-04 18:05:00              0
48  2024-06-04 18:04:00              0
47  2024-06-04 18:03:00              0
46  2024-06-04 18:02:00              0
45  2024-06-04 18:01:00              0
44  2024-06-04 18:00:00              0
43  2024-06-04 17:59:00              0
42  2024-06-04 17:58:00              0
41  2024-06-04 17:57:00              0
40  2024-06-04 17:56:00              0
39  2024-06-04 17:55:00              0
38  2024-06-04 17:54:00              0
37  2024-06-04 17:53:00              0
36  2024-06-04 17:52:00              0
35  2024-06-04 17:51:00              0
34  2024-06-04 17:50:00              0
33  2024-06-04 17:49:00              0
32  2024-06-04 17:48:00              0
31  2024-06-04 17:47:00              0
30  2024-06-04 17:46:00              0
29  2024-06-04 17:45:00              0
28  2024-06-04 17:44:00              0
27  2024-06-04 17:43:00              0
26  2024-06-04 17:42:00              0
25  2024-06-04 17:41:00              0
24  2024-06-04 17:40:00              0
23  2024-06-04 17:39:00              0
22  2024-06-04 17:38:00              0
21  2024-06-04 17:37:00              0
20  2024-06-04 17:36:00              0
19  2024-06-04 17:35:00              0
18  2024-06-04 17:34:00              0
17  2024-06-04 17:33:00              0
16  2024-06-04 17:32:00              0
15  2024-06-04 17:31:00              0
14  2024-06-04 17:30:00              0
13  2024-06-04 17:29:00              0
12  2024-06-04 17:28:00              0
11  2024-06-04 17:27:00              0
10  2024-06-04 17:26:00              0
9   2024-06-04 17:25:00              0
8   2024-06-04 17:24:00              0
7   2024-06-04 17:23:00              0
6   2024-06-04 17:22:00              0
5   2024-06-04 17:21:00              0
4   2024-06-04 17:20:00              0
3   2024-06-04 17:19:00              0
2   2024-06-04 17:18:00              0
1   2024-06-04 17:17:00              0
0   2024-06-04 17:16:00              0

In [228]:
new_cols = {
    'dt': '데이터시간',
    'sunrise': '일출시간', 
    'sunset': '일몰시간',
    'temp': '온도',
    'feels_like': '체감온도',
    'pressure': '기압',
    'humidity': '습도',
    'dew_point': '이슬점',
    'uvi': '자외선지수',
    'clouds': '구름양',
    'visibility': '가시거리',
    'wind_speed': '풍속',
    'wind_deg': '풍향',
    'id': '날씨ID',
    'main': '날씨상태',
    'description': '날씨설명',
    'icon': '날씨아이콘'
}

In [229]:
current_df = current_df.rename(columns=new_cols)
current_df

,데이터시간,일출시간,일몰시간,온도,체감온도,기압,습도,이슬점,자외선지수,구름양,가시거리,풍속,풍향,날씨ID,날씨상태,날씨설명,날씨아이콘
0,2024-06-04 17:15:49,2024-06-04 05:11:40,2024-06-04 19:49:28,300.57,300.12,1015,36,284.19,1.73,0,10000,5.66,270,800,Clear,clear sky,01d

In [236]:
location_df = pd.DataFrame({
    '위도': [weather_data['lat']],
    '경도': [weather_data['lon']],
    '시간대': [weather_data['timezone']],
    '시간대 오프셋': [weather_data['timezone_offset']]
})
location_df

        위도        경도         시간대  시간대 오프셋
0  37.5667  126.9783  Asia/Seoul    32400

In [240]:
import requests

url = 'https://kauth.kakao.com/oauth/token'
rest_api_key = '0eb2547bf27c56bba299c2cacdc01260'
redirect_uri = 'https://example.com/oauth'
authorize_code = 'EGs2sAolzrKHeuzVMWYejcyAnkDQnF5xfIbGdyyHiH05Tnuz_V6g7QAAAAQKPXUZAAABj-Jj75BtZc76WqiBKA'

data = {
    'grant_type':'authorization_code',
    'client_id':rest_api_key,
    'redirect_uri':redirect_uri,
    'code': authorize_code,
    }

response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

# json 저장
import json
#1.
with open(r"./kakao_code.json","w") as fp:
    json.dump(tokens, fp)

{'access_token': 'iXlvATzNCkMk_LeQ8eJ28n012IepXE4JAAAAAQo9dNsAAAGP4mSSZyn2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': '1_AYeOqg3o-QYAsyd5mcRInNW0ETwqLKAAAAAgo9dNsAAAGP4mSSZCn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [241]:
import requests
import json

#1.
with open(r"./kakao_code.json","r") as fp:
    tokens = json.load(fp)


url="https://kapi.kakao.com/v2/api/talk/memo/default/send"

# kapi.kakao.com/v2/api/talk/memo/default/send 

headers={
    "Authorization" : "Bearer " + tokens["access_token"]
}

data={
    "template_object": json.dumps({
        "object_type":"text",
        "text":"Hello, world!",
        "link":{
            "web_url":"www.naver.com"
        }
    })
}

response = requests.post(url, headers=headers, data=data)
response.status_code
print(response.status_code)
if response.json().get('result_code') == 0:
	print('메시지를 성공적으로 보냈습니다.')
else:
	print('메시지를 성공적으로 보내지 못했습니다. 오류메시지 : ' + str(response.json()))

200
메시지를 성공적으로 보냈습니다.

In [278]:
import requests

url = 'https://kauth.kakao.com/oauth/token'
rest_api_key = '0eb2547bf27c56bba299c2cacdc01260'
redirect_uri = 'https://example.com/oauth'
authorize_code = 'dnZdTtsnq_YLRuxX4sJ48GqqqgS_G1NeM06L1eCv0ctHnG78uAc7bgAAAAQKKiVRAAABj-Kdu4nNsk3jZ7dWzg'

data = {
    'grant_type':'authorization_code',
    'client_id':rest_api_key,
    'redirect_uri':redirect_uri,
    'code': authorize_code,
    }

response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

# json 저장
import json
with open(r"./kakao_code3.json","w") as fp:
    json.dump(tokens, fp)

{'access_token': 'I_xCB2PQm8djeneo-MKH6nu360Gmd-cWAAAAAQoqJREAAAGP4p4LrSn2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': '7-QNKcuXFvGMgjjVc3NwBqR2pD49YFYtAAAAAgoqJREAAAGP4p4LqSn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [283]:
import requests
import json

#1.
# with open(r"C:\Users\user\Desktop\PythonWorkspace\kakao_test\kakao_code.json","r") as fp:
#     tokens = json.load(fp)
#2.
with open("./kakao_code3.json","r") as fp:
    tokens = json.load(fp)

# print(tokens)
print(tokens["access_token"])

friend_url = "https://kapi.kakao.com/v1/api/talk/friends"

# GET /v1/api/talk/friends HTTP/1.1
# Host: kapi.kakao.com
# Authorization: Bearer {ACCESS_TOKEN}

headers={"Authorization" : "Bearer " + tokens["access_token"]}

test = requests.get(friend_url, headers=headers)
test.text

result = json.loads(requests.get(friend_url, headers=headers).text)


print(type(result))
# print("=============================================")
print(result)
# print("=============================================")
# friends_list = result.get("elements")
# print(friends_list)
# # # print(type(friends_list))
# # print("=============================================")
# # print(friends_list[0].get("uuid"))
# # friend_id = friends_list[0].get("uuid")
# # print(friend_id)

I_xCB2PQm8djeneo-MKH6nu360Gmd-cWAAAAAQoqJREAAAGP4p4LrSn2EFsnJsRZ
<class 'dict'>
{'elements': [], 'total_count': 0, 'after_url': None, 'favorite_count': 0}

In [284]:
import requests

url = 'https://kauth.kakao.com/oauth/token'
rest_api_key = '0eb2547bf27c56bba299c2cacdc01260'
redirect_uri = 'https://example.com/oauth'
authorize_code = 'N-bsBx0dxYm3IFbR5V-KxNUeEdxjRah2_nB1KZL7kCD8q630QS0YVAAAAAQKKiWPAAABj-KkBrEe0jm_MNo9Pw'

data = {
    'grant_type':'authorization_code',
    'client_id':rest_api_key,
    'redirect_uri':redirect_uri,
    'code': authorize_code,
    }

response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

# json 저장
import json
#1.
with open(r"./kakao_code_test.json","w") as fp:
    json.dump(tokens, fp)

# #2.
# with open("kakao_code.json","w") as fp:
#     json.dump(tokens, fp)

{'access_token': 'w7CY2IRV3EngG51elWOqsuYAVV-k1SKXAAAAAQo9dNsAAAGP4qUVCin2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': 'TeU6ZSeLwv5qcx9SaHekS7vNI4JLglFVAAAAAgo9dNsAAAGP4qUVBSn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [285]:
import json
#1.
with open(r"./kakao_code_test.json","r") as fp:
    ts = json.load(fp)
print(ts)
print(ts["access_token"])

{'access_token': 'w7CY2IRV3EngG51elWOqsuYAVV-k1SKXAAAAAQo9dNsAAAGP4qUVCin2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': 'TeU6ZSeLwv5qcx9SaHekS7vNI4JLglFVAAAAAgo9dNsAAAGP4qUVBSn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}
w7CY2IRV3EngG51elWOqsuYAVV-k1SKXAAAAAQo9dNsAAAGP4qUVCin2EFsnJsRZ