# MariaDB 설치 및 데이터적재 (실습)

## Step.1 관련 툴 설치

- [MariaDB 설치방법](https://cha-coding.tistory.com/entry/MariaDB-%EC%9C%88%EB%8F%84%EC%9A%B010-MariaDB-%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0)

    **(주의) id/password 는 root/root1234 로 통일**  
    -- Enable access from remote machines for 'root' user : 외부 원격 시스템에서 'root' 계정에 대해 접근을 허용한다.   
    -- User UTF8 as default server's charactor set (필수) : 서버의 문자셋을 UTF8로 설정한다.    
    -- MySQL과 MariaDB는 기본적으로 3306 포트를 이용한다.


- [MariaDB 다운로드](https://mariadb.org/download/?t=mariadb&p=mariadb&r=11.3.2&os=windows&cpu=x86_64&pkg=msi&mirror=blendbyte)


- [HeidiSQL다운로드](https://www.heidisql.com/download.php)

    **(신규 데이터베이스 생성**   
    -- <새로생성> - <데이터베이스> - 이름은 'dbmaria'    
          
    **(신규 사용자 등록)**    
    -- 1. 프로그램 상단의 [도구] - [사용자 관리자] 메뉴 클릭   
    -- 2. [추가] 버튼 클릭    
    -- 3. 사용자 이름(user), 암호(user1234), 호스트(모든곳에서접근), 데이터베이스(dbmaria) 설정을 해준다.

## Step.2 데이터 파일 다운로드

- (공공데이터분석) 국토부 아파트매매 실거래가 API[data.go.kr] 연동

-  XML 국토교통부_아파트매매 실거래자료 : https://www.data.go.kr/data/15058747/openapi.do

-  행정표준관리시스템 : https://www.code.go.kr/index.do ( [메뉴] 자주이용하는 코드 > 법정동 > [법정동코드전체자료] )

- **(필수) 특정월에 서울시 전체 구의 데이터를 한번에 가져오기(입력값: 연월 202402)**
- (선택) 특정 서울시 하나의 구의 과거 1년치 데이터를 한번에 가져오기(입력값: 특정구 하나) 
- 또는 첨부된 data 폴더 파일 사용

## Step.3 데이터 파일 통합 읽기

- 폴더내 CSV 파일 전체 읽기
- 하나의 데이터프레임으로 통합
- (문제점) 파일명의 정보(예시: 구이름)가 모두 포함되지 않음 ... 포함하는 방안은?

In [8]:
import os
import pandas as pd
directory = './data/'

In [9]:
os.listdir(directory)

['result_강남구_202403.csv',
 'result_강동구_202403.csv',
 'result_강북구_202403.csv',
 'result_강서구_202403.csv',
 'result_관악구_202403.csv',
 'result_광진구_202403.csv',
 'result_구로구_202403.csv',
 'result_금천구_202403.csv',
 'result_노원구_202403.csv',
 'result_도봉구_202403.csv',
 'result_동대문구_202403.csv',
 'result_동작구_202403.csv',
 'result_마포구_202403.csv',
 'result_서대문구_202403.csv',
 'result_서초구_202403.csv',
 'result_성동구_202403.csv',
 'result_성북구_202403.csv',
 'result_송파구_202403.csv',
 'result_양천구_202403.csv',
 'result_영등포구_202403.csv',
 'result_용산구_202403.csv',
 'result_은평구_202403.csv',
 'result_종로구_202403.csv',
 'result_중구_202403.csv',
 'result_중랑구_202403.csv']

In [12]:
filename = os.listdir(directory)[0]
pd.read_csv(os.path.join(directory, filename), encoding='cp949').head(1)

,거래금액,거래유형,건축년도,년,동,등기일자,매도자,매수자,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"197,000",중개거래,2005,2024,NaN,NaN,개인,개인,역삼동,e-편한세상,3,3,59.606,서울 강남구,755-4,11680,6,NaN,NaN

In [34]:
filename.split("_")[2].split(".")[0]

'202403'

In [37]:
df = df.drop_duplicates()
df['GU'] = filename.split("_")[1]
df['YM'] = filename.split("_")[2].split(".")[0]

In [39]:
df.index+1

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            112, 113, 114, 115, 116, 117, 118, 119, 120, 121],
           dtype='int64', length=121)

In [40]:
import os
import pandas as pd

# CSV 파일이 들어있는 디렉토리 경로
directory = './data/'

# 빈 리스트 생성
dfs = []

# 디렉토리 내 모든 CSV 파일 가져오기
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        print(f"Reading file: {filename}")
        
        # CSV 파일을 데이터프레임으로 읽기
        df = pd.read_csv(filepath, encoding='cp949')
        df = df.drop_duplicates()
        df['GU'] = filename.split("_")[1]
        df['YM'] = filename.split("_")[2].split(".")[0]
        df['TID'] = df.index + 1
        
        # 데이터프레임을 리스트에 추가
        dfs.append(df)

Reading file: result_강남구_202403.csv
Reading file: result_강동구_202403.csv
Reading file: result_강북구_202403.csv
Reading file: result_강서구_202403.csv
Reading file: result_관악구_202403.csv
Reading file: result_광진구_202403.csv
Reading file: result_구로구_202403.csv
Reading file: result_금천구_202403.csv
Reading file: result_노원구_202403.csv
Reading file: result_도봉구_202403.csv
Reading file: result_동대문구_202403.csv
Reading file: result_동작구_202403.csv
Reading file: result_마포구_202403.csv
Reading file: result_서대문구_202403.csv
Reading file: result_서초구_202403.csv
Reading file: result_성동구_202403.csv
Reading file: result_성북구_202403.csv
Reading file: result_송파구_202403.csv
Reading file: result_양천구_202403.csv
Reading file: result_영등포구_202403.csv
Reading file: result_용산구_202403.csv
Reading file: result_은평구_202403.csv
Reading file: result_종로구_202403.csv
Reading file: result_중구_202403.csv
Reading file: result_중랑구_202403.csv

In [41]:
df#.head(1)

,거래금액,거래유형,건축년도,년,동,등기일자,매도자,매수자,법정동,아파트,...,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,GU,YM,TID
0,"104,000",중개거래,2020,2024,103동,24.03.14,개인,개인,면목동,쌍용더플래티넘용마산,...,84.9731,서울 중랑구,1548,11260,10,NaN,NaN,중랑구,202403,1
1,"49,000",중개거래,1998,2024,101,24.04.05,개인,개인,면목동,두원,...,59.3100,서울 중랑구,1521,11260,24,NaN,NaN,중랑구,202403,2
2,"105,000",중개거래,2020,2024,104동,24.04.24,개인,개인,면목동,쌍용더플래티넘용마산,...,84.9731,서울 중랑구,1548,11260,12,NaN,NaN,중랑구,202403,3
3,"55,900",중개거래,2000,2024,NaN,NaN,개인,개인,면목동,면목삼호101,...,83.2700,서울 중랑구,1513,11260,3,NaN,NaN,중랑구,202403,4
4,"95,000",중개거래,2020,2024,NaN,NaN,개인,개인,면목동,사가정센트럴아이파크,...,59.7800,서울 중랑구,1545,11260,22,NaN,NaN,중랑구,202403,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"49,147",직거래,2023,2024,NaN,NaN,개인,개인,신내동,망우역신원아침도시,...,57.9910,NaN,838,11260,2,24.04.16,O,중랑구,202403,117
117,"48,500",중개거래,1997,2024,NaN,NaN,개인,개인,신내동,동성3,...,59.4000,서울 중랑구,618,11260,20,NaN,NaN,중랑구,202403,118
118,"27,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내9진흥,...,33.1800,서울 중랑구,657,11260,1,NaN,NaN,중랑구,202403,119
119,"27,500",중개거래,1989,2024,NaN,NaN,개인,개인,신내동,경원,...,59.4000,서울 중랑구,449-1,11260,4,NaN,NaN,중랑구,202403,120
120,"38,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내6대주,...,39.8400,서울 중랑구,650,11260,3,NaN,NaN,중랑구,202403,121

In [42]:
dfs

[        거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동     아파트  ...  \
 0    197,000  중개거래  2005  2024  NaN       NaN  개인  개인  역삼동  e-편한세상  ...
 1     61,000   직거래  2003  2024  NaN  24.04.03  개인  개인  역삼동   노블스위트  ...
 2    198,000  중개거래  2005  2024  NaN       NaN  개인  개인  역삼동  e-편한세상  ...
 3     23,000   직거래  2001  2024  NaN  24.03.27  개인  개인  역삼동  한화진넥스빌  ...
 4    191,000  중개거래  1998  2024  NaN       NaN  개인  개인  역삼동  동부센트레빌  ...
 ..       ...   ...   ...   ...  ...       ...  ..  ..  ...     ...  ...
 204  274,000  중개거래  2006  2024  NaN       NaN  개인  개인  도곡동    도곡렉슬  ...
 205  208,000  중개거래  1978  2024  NaN       NaN  개인  개인  도곡동  도곡쌍용예가  ...
 206  300,000  중개거래  2003  2024  NaN       NaN  개인  개인  도곡동  타워팰리스2  ...
 207  318,000  중개거래  2001  2024  NaN       NaN  개인  개인  도곡동   삼성래미안  ...
 208  183,500  중개거래  2006  2024  NaN       NaN  개인  개인  도곡동    도곡렉슬  ...

          전용면적          중개사소재지      지번   지역코드   층  해제사유발생일  해제여부   GU      YM  \
 0     59.6060          서울 강남구   755-4  11680   6      NaN   NaN  강남구  202403
 1     78.9400             NaN     747  11680   4      NaN   NaN  강남구  202403
 2     59.6060          서울 강남구   755-4  11680   8      NaN   NaN  강남구  202403
 3     39.2000             NaN  706-20  11680  22      NaN   NaN  강남구  202403
 4     84.9700          서울 강남구     716  11680   2      NaN   NaN  강남구  202403
 ..        ...             ...     ...    ...  ..      ...   ...  ...     ...
 204   84.9231          서울 강남구     527  11680   4      NaN   NaN  강남구  202403
 205  107.5300          서울 강남구     933  11680   5      NaN   NaN  강남구  202403
 206  115.6300          서울 강남구  467-17  11680  20      NaN   NaN  강남구  202403
 207  122.8100  경기 김포시, 서울 강남구    91-5  11680  10      NaN   NaN  강남구  202403
 208   59.9772          서울 강남구     527  11680   9      NaN   NaN  강남구  202403

      TID
 0      1
 1      2
 2      3
 3      4
 4      5
 ..   ...
 204  205
 205  206
 206  207
 207  208
 208  209

 [209 rows x 22 columns],
         거래금액  거래유형  건축년도     년     동      등기일자 매도자 매수자  법정동         아파트  ...  \
 0     73,000  중개거래  1999  2024   102  24.04.29  개인  개인  명일동    명일지에스아파트  ...
 1    107,000  중개거래  1983  2024   NaN       NaN  개인  개인  명일동      삼익그린2차  ...
 2     81,500  중개거래  1983  2024   NaN       NaN  개인  개인  명일동      삼익그린2차  ...
 3    116,000  중개거래  2019  2024   NaN       NaN  개인  개인  명일동      래미안솔베뉴  ...
 4     90,000  중개거래  1999  2024   NaN       NaN  개인  개인  명일동    명일지에스아파트  ...
 ..       ...   ...   ...   ...   ...       ...  ..  ..  ...         ...  ...
 223   78,000  중개거래  2009  2024  1003  24.04.22  개인  개인  강일동  강일리버파크10단지  ...
 224   94,500  중개거래  2009  2024   NaN       NaN  개인  개인  강일동   강일리버파크7단지  ...
 225   90,800  중개거래  2009  2024   NaN       NaN  개인  개인  강일동   강일리버파크9단지  ...
 226   87,000  중개거래  2009  2024   NaN       NaN  개인  개인  강일동   강일리버파크8단지  ...
 227   90,800  중개거래  2009  2024   NaN       NaN  개인  개인  강일동   강일리버파크9단지  ...

       전용면적  중개사소재지   지번   지역코드   층   해제사유발생일  해제여부   GU      YM  TID
 0    59.79  서울 강동구  332  11740   3       NaN   NaN  강동구  202403    1
 1    66.87  서울 강동구   15  11740  14       NaN   NaN  강동구  202403    2
 2    42.93  서울 강동구   15  11740  10       NaN   NaN  강동구  202403    3
 3    59.29  서울 강동구  359  11740   7       NaN   NaN  강동구  202403    4
 4    84.90  서울 강동구  332  11740   6       NaN   NaN  강동구  202403    5
 ..     ...     ...  ...    ...  ..       ...   ...  ...     ...  ...
 223  84.53  서울 강동구  695  11740   1       NaN   NaN  강동구  202403  224
 224  84.83  서울 강동구  686  11740  15       NaN   NaN  강동구  202403  225
 225  84.74  서울 강동구  699  11740   4       NaN   NaN  강동구  202403  226
 226  84.83  서울 강동구  701  11740   5       NaN   NaN  강동구  202403  227
 227  84.74  서울 강동구  699  11740   4  24.04.25     O  강동구  202403  228

 [227 rows x 22 columns],
       거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동             아파트  ...  \
 0   79,000  중개거래  2010  2024  NaN       NaN  개인  개인  미아동      래미안트리베라1단지  ...
 1   85,000  중개거래  2017  2024  NaN       NaN  개인  개인  미아동         꿈의숲롯데캐슬  ...
 2   59,000  중개거래  2003  2024  NaN       NaN  개인  개인  미아동  경남아너스빌(1356-0)  ...
 3   54,900  중개거래  2004  2024  NaN       NaN  개인  개인  미아동         벽산라이브파크  ...
 4   43,500   직거래  2002  2024  103  24.03.21  개인  개인  미아동        미아한일유앤아이  ...
 ..     ...   ...   ...   ...  ...       ...  ..  ..  ...             ...  ...
 74  24,800   직거래  2020  2024  NaN  24.04.08  개인  개인  수유동        한원힐트리움수유  ...
 75  60,000   직거래  2000  2024  106  24.03.29  개인  개인  우이동              대우  ...
 76  50,000  중개거래  2000  2024  NaN       NaN  개인  개인  우이동              대우  ...
 77  46,200  중개거래  1990  2024  NaN       NaN  개인  개인  우이동           성원상떼빌  ...
 78  51,500  중개거래  1990  2024  NaN       NaN  개인  개인  우이동           성원상떼빌  ...

       전용면적  중개사소재지    지번   지역코드   층   해제사유발생일  해제여부   GU      YM TID
 0   84.970  서울 강북구   813  11305   1       NaN   NaN  강북구  202403   1
 1   84.980  서울 강북구     4  11305   4       NaN   NaN  강북구  202403   2
 2   59.964  서울 강북구  1356  11305  13       NaN   NaN  강북구  202403   3
 3   60.000  서울 강북구  1354  11305  16       NaN   NaN  강북구  202403   4
 4   84.552     NaN  1355  11305   9       NaN   NaN  강북구  202403   5
 ..     ...     ...   ...    ...  ..       ...   ...  ...     ...  ..
 74  27.390     NaN   738  11305  10       NaN   NaN  강북구  202403  75
 75  84.930     NaN   342  11305   1       NaN   NaN  강북구  202403  76
 76  84.930  서울 관악구   342  11305   3  24.03.14     O  강북구  202403  77
 77  84.980  서울 강북구     1  11305   2       NaN   NaN  강북구  202403  78
 78  84.980  서울 도봉구     1  11305   4       NaN   NaN  강북구  202403  79

 [79 rows x 22 columns],
         거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동         아파트  ...  \
 0    103,000   직거래  2005  2024  104  24.03.14  개인  개인  염창동  염창1차한화꿈에그린  ...
 1     50,000  중개거래  2006  2024  NaN       NaN  개인  개인  염창동         엠그린  ...
 2     62,000  중개거래  1996  2024  NaN       NaN  개인  개인  염창동         현대3  ...
 3     79,000  중개거래  1998  2024  NaN       NaN  개인  개인  염창동        한강동아  ...
 4     87,000  중개거래  1998  2024  NaN       NaN  개인  개인  염창동          동아  ...
 ..       ...   ...   ...   ...  ...       ...  ..  ..  ...         ...  ...
 236   46,000  중개거래  2003  2024  NaN       NaN  개인  개인  방화동       마곡드림힐  ...
 237   40,000  중개거래  1994  2024  NaN       NaN  개인  개인  방화동          청솔  ...
 238  100,500  중개거래  1994  2024  NaN       NaN  개인  개인  방화동          개화  ...
 239   49,500  중개거래  1994  2024  NaN       NaN  개인  개인  방화동  마곡중앙하이츠아파트  ...
 240   44,900  중개거래  1994  2024  NaN       NaN  개인  개인  방화동         방화5  ...

          전용면적  중개사소재지      지번   지역코드   층  해제사유발생일  해제여부   GU      YM  TID
 0     67.4300     NaN  281-22  11500   9      NaN   NaN  강서구  202403    1
 1     59.7300  서울 강서구  241-24  11500   3      NaN   NaN  강서구  202403    2
 2     59.9200  서울 강서구     291  11500  12      NaN   NaN  강서구  202403    3
 3     59.9700  서울 강서구     293  11500  17      NaN   NaN  강서구  202403    4
 4     84.9500  서울 강서구     292  11500   8      NaN   NaN  강서구  202403    5
 ..        ...     ...     ...    ...  ..      ...   ...  ...     ...  ...
 236   59.4396  서울 강서구     872  11500   6      NaN   NaN  강서구  202403  237
 237   39.3600  서울 강서구     832  11500  11      NaN   NaN  강서구  202403  238
 238  133.9800  서울 동작구     819  11500   2      NaN   NaN  강서구  202403  239
 239   51.0300  서울 강서구     852  11500  11      NaN   NaN  강서구  202403  240
 240   39.6000  서울 강서구     814  11500  13      NaN   NaN  강서구  202403  241

 [240 rows x 22 columns],
        거래금액  거래유형  건축년도     년      동      등기일자 매도자 매수자  법정동         아파트  ...  \
 0    89,800  중개거래  2004  2024    NaN       NaN  개인  개인  봉천동     벽산블루밍3차  ...
 1    74,000  중개거래  2000  2024    NaN       NaN  개인  개인  봉천동        봉천우성  ...
 2    81,800  중개거래  2000  2024    NaN       NaN  개인  개인  봉천동        봉천동아  ...
 3    72,000  중개거래  2005  2024    NaN       NaN  개인  개인  봉천동       벽산블루밍  ...
 4    79,000  중개거래  2005  2024    NaN       NaN  개인  개인  봉천동       벽산블루밍  ...
 ..      ...   ...   ...   ...    ...       ...  ..  ..  ...         ...  ...
 116  51,500  중개거래  1998  2024    NaN       NaN  개인  개인  신림동          성우  ...
 117  64,000  중개거래  1996  2024    NaN       NaN  개인  개인  신림동      신림2차현대  ...
 118  94,500  중개거래  2005  2024    NaN       NaN  개인  개인  남현동   남현동한일유앤아이  ...
 119  75,000  중개거래  2007  2024  103.0  24.03.14  개인  개인  남현동     예성그랑펠리체  ...
 120  69,000  중개거래  2008  2024    NaN       NaN  개인  개인  남현동  관악산대창센시티2차  ...

        전용면적  중개사소재지      지번   지역코드   층  해제사유발생일  해제여부   GU      YM  TID
 0    111.04  서울 관악구    1720  11620  20      NaN   NaN  관악구  202403    1
 1     84.96  서울 관악구    1706  11620   2      NaN   NaN  관악구  202403    2
 2     84.87  서울 관악구    1703  11620   6      NaN   NaN  관악구  202403    3
 3     59.99  서울 관악구    1718  11620  13      NaN   NaN  관악구  202403    4
 4     84.99  서울 관악구    1718  11620   7      NaN   NaN  관악구  202403    5
 ..      ...     ...     ...    ...  ..      ...   ...  ...     ...  ...
 116   59.97  서울 관악구  10-622  11620   2      NaN   NaN  관악구  202403  117
 117   84.60  서울 중랑구   551-9  11620   2      NaN   NaN  관악구  202403  118
 118  127.84  서울 관악구    1136  11620   9      NaN   NaN  관악구  202403  119
 119   73.55  서울 관악구    1138  11620   3      NaN   NaN  관악구  202403  120
 120   84.97  서울 관악구    1139  11620   6      NaN   NaN  관악구  202403  121

 [121 rows x 22 columns],
         거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동           아파트  ...  \
 0     56,000  중개거래  2005  2024  NaN       NaN  개인  개인  중곡동         진흥아르미  ...
 1    118,500  중개거래  1994  2024  NaN       NaN  개인  개인  구의동       구의현대6단지  ...
 2    108,000  중개거래  1997  2024  NaN       NaN  개인  개인  구의동         현대프라임  ...
 3    106,000  중개거래  1997  2024  NaN       NaN  개인  개인  구의동         현대프라임  ...
 4     88,000  중개거래  1997  2024  703  24.04.16  개인  개인  구의동  구의현대7단지현대홈타운  ...
 ..       ...   ...   ...   ...  ...       ...  ..  ..  ...           ...  ...
 102   21,300  중개거래  2014  2024  NaN       NaN  개인  개인  화양동         광진코지웰  ...
 103   92,500  중개거래  2021  2024  NaN       NaN  개인  개인  화양동     광진스위트엠아파트  ...
 104   74,500  중개거래  1999  2024  NaN       NaN  개인  개인  화양동          화양현대  ...
 105   15,000  중개거래  2019  2024  NaN  24.04.17  개인  개인  화양동  신원리브웰화양동주상복합  ...
 106   14,000  중개거래  2014  2024  NaN  24.04.03  개인  개인  화양동         광진코지웰  ...

       전용면적  중개사소재지      지번   지역코드   층  해제사유발생일  해제여부   GU      YM  TID
 0    84.84  서울 광진구   252-8  11215   5      NaN   NaN  광진구  202403    1
 1    84.92  서울 광진구     610  11215  12      NaN   NaN  광진구  202403    2
 2    59.82  서울 광진구   631-1  11215  13      NaN   NaN  광진구  202403    3
 3    59.82  서울 광진구   631-1  11215  16      NaN   NaN  광진구  202403    4
 4    59.97  서울 광진구  587-54  11215  16      NaN   NaN  광진구  202403    5
 ..     ...     ...     ...    ...  ..      ...   ...  ...     ...  ...
 102  24.85  서울 광진구   113-1  11215   4      NaN   NaN  광진구  202403  103
 103  84.51  서울 광진구     532  11215  12      NaN   NaN  광진구  202403  104
 104  59.99  서울 광진구     234  11215  13      NaN   NaN  광진구  202403  105
 105  16.92  서울 광진구  111-88  11215   2      NaN   NaN  광진구  202403  106
 106  16.53  서울 광진구   113-1  11215   4      NaN   NaN  광진구  202403  107

 [107 rows x 22 columns],
         거래금액  거래유형  건축년도     년    동 등기일자 매도자 매수자   법정동          아파트  ...  \
 0    130,500  중개거래  2001  2024  NaN  NaN  개인  개인  신도림동          대림2  ...
 1     90,500  중개거래  1999  2024  NaN  NaN  개인  개인  신도림동          동아1  ...
 2    155,500  중개거래  2003  2024  NaN  NaN  개인  개인  신도림동    대림e-편한세상4  ...
 3     84,000  중개거래  1999  2024  NaN  NaN  개인  개인  신도림동     현대홈타운아파트  ...
 4     80,000  중개거래  1999  2024  NaN  NaN  개인  개인  신도림동          대림1  ...
 ..       ...   ...   ...   ...  ...  ...  ..  ..   ...          ...  ...
 196   79,000  중개거래  2019  2024  NaN  NaN  개인  개인    항동      하버라인2단지  ...
 197   70,000  중개거래  2020  2024  NaN  NaN  개인  개인    항동  항동제일풍경채포레스트  ...
 198   68,000  중개거래  2019  2024  NaN  NaN  개인  개인    항동      하버라인3단지  ...
 199   67,000  중개거래  2020  2024  NaN  NaN  개인  개인    항동  항동제일풍경채포레스트  ...
 200   63,500  중개거래  2019  2024  NaN  NaN  개인  개인    항동      하버라인2단지  ...

          전용면적  중개사소재지   지번   지역코드   층  해제사유발생일  해제여부   GU      YM  TID
 0    134.9900  서울 구로구  642  11530  18      NaN   NaN  구로구  202403    1
 1     59.9780  서울 구로구  643  11530  17      NaN   NaN  구로구  202403    2
 2    117.7400  서울 구로구  646  11530  12      NaN   NaN  구로구  202403    3
 3     84.6900  서울 구로구  641  11530   1      NaN   NaN  구로구  202403    4
 4     59.9000  서울 구로구  642  11530   3      NaN   NaN  구로구  202403    5
 ..        ...     ...  ...    ...  ..      ...   ...  ...     ...  ...
 196   84.8800  서울 구로구  237  11530  17      NaN   NaN  구로구  202403  197
 197   84.6614  서울 구로구  246  11530  15      NaN   NaN  구로구  202403  198
 198   59.8600  서울 구로구  242  11530  14      NaN   NaN  구로구  202403  199
 199   84.6614  서울 구로구  246  11530   7      NaN   NaN  구로구  202403  200
 200   59.8600  서울 구로구  237  11530   2      NaN   NaN  구로구  202403  201

 [201 rows x 22 columns],
        거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동           아파트  ...  \
 0    12,600   직거래  2018  2024   1동  24.03.13  개인  개인  가산동   가산지웰에스테이트2차  ...
 1    46,000  중개거래  1998  2024  NaN       NaN  개인  개인  독산동         계룡아파트  ...
 2    67,900  중개거래  2019  2024  NaN       NaN  개인  개인  독산동    e편한세상독산더타워  ...
 3   104,500  중개거래  2016  2024  104  24.04.11  개인  개인  독산동  금천롯데캐슬골드파크1차  ...
 4    64,700  중개거래  2011  2024  NaN       NaN  개인  개인  독산동      독산동한양수자인  ...
 ..      ...   ...   ...   ...  ...       ...  ..  ..  ...           ...  ...
 58   40,000  중개거래  2000  2024  NaN       NaN  개인  개인  시흥동            벽산  ...
 59   51,500  중개거래  1998  2024  NaN       NaN  개인  개인  시흥동           벽산3  ...
 60   51,500  중개거래  1998  2024  NaN       NaN  개인  개인  시흥동           벽산3  ...
 61   46,000  중개거래  1999  2024  NaN       NaN  개인  개인  시흥동            삼익  ...
 62   59,000  중개거래  2000  2024  NaN       NaN  개인  개인  시흥동            금강  ...

         전용면적  중개사소재지       지번   지역코드   층   해제사유발생일  해제여부   GU      YM TID
 0    14.1200     NaN    143-6  11545   8       NaN   NaN  금천구  202403   1
 1    59.3400  서울 금천구   332-14  11545   5       NaN   NaN  금천구  202403   2
 2    59.8637  서울 금천구  1007-13  11545  34       NaN   NaN  금천구  202403   3
 3    84.8114  서울 금천구     1147  11545  21       NaN   NaN  금천구  202403   4
 4    67.9250  서울 금천구     1144  11545   2       NaN   NaN  금천구  202403   5
 ..       ...     ...      ...    ...  ..       ...   ...  ...     ...  ..
 58   59.9400  서울 금천구     1010  11545  12       NaN   NaN  금천구  202403  59
 59  114.9800  서울 금천구     1006  11545   8  24.04.29     O  금천구  202403  60
 60  114.9800  서울 금천구     1006  11545   8       NaN   NaN  금천구  202403  61
 61   59.9000  서울 금천구     5-13  11545   4       NaN   NaN  금천구  202403  62
 62   84.6500  서울 금천구     1008  11545  18       NaN   NaN  금천구  202403  63

 [63 rows x 22 columns],
         거래금액  거래유형  건축년도     년   동 등기일자 매도자 매수자  법정동        아파트  ...     전용면적  \
 0     61,000  중개거래  1986  2024 NaN  NaN  개인  개인  월계동         미성  ...  50.1400
 1     77,300  중개거래  2006  2024 NaN  NaN  개인  개인  월계동     롯데캐슬루나  ...  84.9852
 2     83,000  중개거래  2002  2024 NaN  NaN  개인  개인  월계동    한진한화그랑빌  ...  84.9700
 3     74,000  중개거래  2020  2024 NaN  NaN  개인  개인  월계동  월계센트럴아이파크  ...  59.9900
 4     85,800  중개거래  2020  2024 NaN  NaN  개인  개인  월계동  월계센트럴아이파크  ...  84.9900
 ..       ...   ...   ...   ...  ..  ...  ..  ..  ...        ...  ...      ...
 288   79,200  중개거래  2005  2024 NaN  NaN  개인  개인  중계동     한화꿈에그린  ...  84.9020
 289   53,000   직거래  1990  2024 NaN  NaN  개인  개인  중계동    중계그린1단지  ...  49.5000
 290  103,800  중개거래  1995  2024 NaN  NaN  개인  개인  중계동        건영3  ...  84.9000
 291   51,500  중개거래  1991  2024 NaN  NaN  개인  개인  중계동      중계무지개  ...  49.5400
 292   93,500  중개거래  1992  2024 NaN  NaN  개인  개인  중계동        주공5  ...  84.7900

      중개사소재지      지번   지역코드   층  해제사유발생일  해제여부   GU      YM  TID
 0    서울 노원구      13  11350  10      NaN   NaN  노원구  202403    1
 1    서울 노원구     947  11350   5      NaN   NaN  노원구  202403    2
 2    서울 노원구      18  11350  27      NaN   NaN  노원구  202403    3
 3    서울 성북구     951  11350  16      NaN   NaN  노원구  202403    4
 4    서울 노원구     951  11350   3      NaN   NaN  노원구  202403    5
 ..      ...     ...    ...  ..      ...   ...  ...     ...  ...
 288  서울 노원구     598  11350  14      NaN   NaN  노원구  202403  289
 289     NaN   502-1  11350   8      NaN   NaN  노원구  202403  290
 290  서울 노원구  360-15  11350   8      NaN   NaN  노원구  202403  291
 291  서울 노원구     512  11350  12      NaN   NaN  노원구  202403  292
 292  서울 노원구   359-1  11350   2      NaN   NaN  노원구  202403  293

 [293 rows x 22 columns],
        거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동   아파트  ...   전용면적  \
 0    39,000  중개거래  1988  2024    2  24.04.18  개인  개인  쌍문동   한양2  ...  59.67
 1    34,000  중개거래  1988  2024    8  24.03.07  개인  개인  쌍문동   한양2  ...  59.67
 2    39,000  중개거래  1990  2024  NaN       NaN  개인  개인  쌍문동   현대1  ...  56.70
 3    44,000  중개거래  1995  2024  NaN       NaN  개인  개인  쌍문동   현대3  ...  84.83
 4    51,500  중개거래  1993  2024  NaN       NaN  개인  개인  쌍문동   한양7  ...  84.86
 ..      ...   ...   ...   ...  ...       ...  ..  ..  ...   ...  ...    ...
 122  36,000  중개거래  1987  2024  NaN       NaN  법인  개인  도봉동  서울가든  ...  75.33
 123  53,000  중개거래  1995  2024  NaN       NaN  개인  개인  도봉동    한신  ...  84.94
 124  36,000  중개거래  1987  2024  NaN       NaN  법인  개인  도봉동  서울가든  ...  75.33
 125  37,800  중개거래  1996  2024  NaN       NaN  개인  개인  도봉동    서원  ...  49.77
 126  35,300  중개거래  1996  2024  116  24.04.09  개인  개인  도봉동    서원  ...  49.77

      중개사소재지    지번   지역코드   층   해제사유발생일  해제여부   GU      YM  TID
 0    서울 도봉구    59  11320   6       NaN   NaN  도봉구  202403    1
 1    경기 하남시    59  11320   7       NaN   NaN  도봉구  202403    2
 2    서울 도봉구    54  11320  15       NaN   NaN  도봉구  202403    3
 3    서울 노원구   719  11320   2       NaN   NaN  도봉구  202403    4
 4    서울 도봉구   158  11320  13       NaN   NaN  도봉구  202403    5
 ..      ...   ...    ...  ..       ...   ...  ...     ...  ...
 122  서울 노원구   555  11320  10       NaN   NaN  도봉구  202403  123
 123  서울 도봉구  30-1  11320   5       NaN   NaN  도봉구  202403  124
 124  서울 노원구   555  11320  10  24.04.22     O  도봉구  202403  125
 125  서울 도봉구   641  11320   6       NaN   NaN  도봉구  202403  126
 126  서울 도봉구   641  11320  11       NaN   NaN  도봉구  202403  127

 [127 rows x 22 columns],
         거래금액  거래유형  건축년도     년    동      등기일자 매도자 매수자  법정동       아파트  ...  \
 0     16,500  중개거래  2018  2024  NaN  24.04.01  개인  개인  신설동   포레스트힐시티  ...
 1     30,700  중개거래  2019  2024  NaN       NaN  개인  개인  용두동     가우디캐슬  ...
 2    110,000  중개거래  2011  2024  108  24.04.01  개인  개인  용두동  래미안 허브리츠  ...
 3     94,000  중개거래  2011  2024  NaN       NaN  개인  개인  용두동  래미안 허브리츠  ...
 4    110,000  중개거래  2011  2024  104  24.04.04  개인  개인  용두동  래미안 허브리츠  ...
 ..       ...   ...   ...   ...  ...       ...  ..  ..  ...       ...  ...
 179   69,500  중개거래  2003  2024  NaN       NaN  개인  개인  이문동  대림e-편한세상  ...
 180   20,000  중개거래  2020  2024  NaN  24.03.25  개인  개인  이문동      세진빌딩  ...
 181   20,000   직거래  2020  2024  NaN  24.04.09  개인  개인  이문동      세진빌딩  ...
 182   57,000  중개거래  2000  2024  NaN       NaN  개인  개인  이문동        현대  ...
 183   30,000   직거래  2020  2024  NaN  24.03.29  개인  개인  이문동      세진빌딩  ...

        전용면적   중개사소재지      지번   지역코드   층  해제사유발생일  해제여부    GU      YM  TID
 0    14.750  서울 동대문구  100-26  11230  15      NaN   NaN  동대문구  202403    1
 1    29.980  경기 남양주시  104-34  11230   8      NaN   NaN  동대문구  202403    2
 2    84.960  서울 동대문구     792  11230  18      NaN   NaN  동대문구  202403    3
 3    59.980  서울 동대문구     792  11230  15      NaN   NaN  동대문구  202403    4
 4    84.970  서울 동대문구     792  11230  17      NaN   NaN  동대문구  202403    5
 ..      ...      ...     ...    ...  ..      ...   ...   ...     ...  ...
 179  59.958  서울 동대문구     225  11230   9      NaN   NaN  동대문구  202403  180
 180  11.480  서울 동대문구   327-7  11230  10      NaN   NaN  동대문구  202403  181
 181  11.480      NaN   327-7  11230  13      NaN   NaN  동대문구  202403  182
 182  59.920   경기 구리시      54  11230  25      NaN   NaN  동대문구  202403  183

In [61]:
# 리스트에 있는 모든 데이터프레임을 합치기
result = pd.concat(dfs, ignore_index=True)
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   거래금액     4128 non-null   object
 1   거래유형     4128 non-null   object
 2   건축년도     4128 non-null   int64
 3   년        4128 non-null   int64
 4   동        579 non-null    object
 5   등기일자     699 non-null    object
 6   매도자      4128 non-null   object
 7   매수자      4128 non-null   object
 8   법정동      4128 non-null   object
 9   아파트      4128 non-null   object
 10  월        4128 non-null   int64
 11  일        4128 non-null   int64
 12  전용면적     4128 non-null   float64
 13  중개사소재지   3967 non-null   object
 14  지번       4128 non-null   object
 15  지역코드     4128 non-null   int64
 16  층        4128 non-null   int64
 17  해제사유발생일  100 non-null    object
 18  해제여부     100 non-null    object
 19  GU       4128 non-null   object
 20  YM       4128 non-null   object
 21  TID      4128 non-null   int64
dtypes: float64(1), int64(7), object(14)
memory usage: 709.6+ KB

In [26]:
#result[result.duplicated(keep=False)]

In [45]:
# 결과 저장 및 확인
result.to_csv("result_all.csv", index=False, encoding='cp949')

## Step.4 MariaDB에 통합데이터를 to_sql로 적재 (sqlalchemy 사용)

In [46]:
import pymysql

In [47]:
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')

In [49]:
#C:\Users\salix\anaconda3\lib\site-packages\pandas\io\sql.py:761: 
#UserWarning: pandas only support SQLAlchemy connectable(engine/connection) 
#ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects 
#are not tested, please consider using SQLAlchemy warnings

#result.to_sql(name='gu_land_data', con=conn, if_exists='replace', index=False) #append, replace

In [52]:
result = pd.read_csv("result_all.csv", index_col=None, encoding='cp949')

In [53]:
result.tail()

,거래금액,거래유형,건축년도,년,동,등기일자,매도자,매수자,법정동,아파트,...,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,GU,YM,TID
4123,"49,147",직거래,2023,2024,NaN,NaN,개인,개인,신내동,망우역신원아침도시,...,57.991,NaN,838,11260,2,24.04.16,O,중랑구,202403,117
4124,"48,500",중개거래,1997,2024,NaN,NaN,개인,개인,신내동,동성3,...,59.400,서울 중랑구,618,11260,20,NaN,NaN,중랑구,202403,118
4125,"27,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내9진흥,...,33.180,서울 중랑구,657,11260,1,NaN,NaN,중랑구,202403,119
4126,"27,500",중개거래,1989,2024,NaN,NaN,개인,개인,신내동,경원,...,59.400,서울 중랑구,449-1,11260,4,NaN,NaN,중랑구,202403,120
4127,"38,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내6대주,...,39.840,서울 중랑구,650,11260,3,NaN,NaN,중랑구,202403,121

In [ ]:
#!pip install sqlalchemy

In [40]:
from sqlalchemy import create_engine

db_con_str = 'mysql+pymysql://user:user1234@localhost/dbmaria'
db_con_ac = create_engine(db_con_str)

conn_ac = db_con_ac.connect()

result.to_sql(name='gu_land_data', con=conn_ac, if_exists='replace', index=False) #append, replace

4128

## Step5. MariaDB에 통합데이터를 insert로 적재

- pymysql을 사용하여 데이터를 삽입하는 예제 코드

In [41]:
import pandas as pd
import pymysql
import numpy as np

# 데이터 프레임 생성
result = pd.read_csv("result_all.csv", index_col=None, encoding='cp949')
df = result

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   거래금액     4128 non-null   object
 1   거래유형     4128 non-null   object
 2   건축년도     4128 non-null   int64
 3   년        4128 non-null   int64
 4   동        579 non-null    object
 5   등기일자     699 non-null    object
 6   매도자      4128 non-null   object
 7   매수자      4128 non-null   object
 8   법정동      4128 non-null   object
 9   아파트      4128 non-null   object
 10  월        4128 non-null   int64
 11  일        4128 non-null   int64
 12  전용면적     4128 non-null   float64
 13  중개사소재지   3967 non-null   object
 14  지번       4128 non-null   object
 15  지역코드     4128 non-null   int64
 16  층        4128 non-null   int64
 17  해제사유발생일  100 non-null    object
 18  해제여부     100 non-null    object
 19  GU       4128 non-null   object
 20  YM       4128 non-null   int64
 21  TID      4128 non-null   int64
dtypes: float64(1), int64(8), object(13)
memory usage: 709.6+ KB

In [43]:
 df.astype(str).applymap(len).max()

거래금액        9
거래유형        4
건축년도        4
년           4
동          14
등기일자        8
매도자         4
매수자         4
법정동         6
아파트        28
월           1
일           2
전용면적        8
중개사소재지     23
지번          8
지역코드        5
층           2
해제사유발생일     8
해제여부        3
GU          4
YM          6
TID         3
dtype: int64

In [25]:
df.tail()

,거래금액,거래유형,건축년도,년,동,등기일자,매도자,매수자,법정동,아파트,...,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,GU,YM,TID
4123,"49,147",직거래,2023,2024,NaN,NaN,개인,개인,신내동,망우역신원아침도시,...,57.991,NaN,838,11260,2,24.04.16,O,중랑구,202403,117
4124,"48,500",중개거래,1997,2024,NaN,NaN,개인,개인,신내동,동성3,...,59.400,서울 중랑구,618,11260,20,NaN,NaN,중랑구,202403,118
4125,"27,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내9진흥,...,33.180,서울 중랑구,657,11260,1,NaN,NaN,중랑구,202403,119
4126,"27,500",중개거래,1989,2024,NaN,NaN,개인,개인,신내동,경원,...,59.400,서울 중랑구,449-1,11260,4,NaN,NaN,중랑구,202403,120
4127,"38,500",중개거래,1996,2024,NaN,NaN,개인,개인,신내동,신내6대주,...,39.840,서울 중랑구,650,11260,3,NaN,NaN,중랑구,202403,121

In [44]:
# 데이터프레임의 NaN 값을 NULL로 대체
df = df.fillna("")

In [45]:
##############################
# ChatGPT 활용 및 테이블 생성
##############################
# 판다스 데이터 프레임을 MariaDB에 저장하기 위한 테이블을 만들려고해. 
# 테이블 이름은 real_estate_seoul 으로 만들고
# 가급적 데이터가 짤리지 않게 DB 데이터타입을 넉넉하게 만들고 컬럼명도 영어로 변환해줘.
# 그리고, YM, GU, TID 컬럼이 기본키가 되게 해주고 형식은 문자열이 되게 해주고,
# 기본키는 테이블 맨앞 컬럼에 배치하고 컬럼명은 그대로 사용해줘.
# 연도 관련된 컬럼 건축년도, 등기일자, 해제사유발생일 컬럼과 지역코드는 문자열로 바꾸어줘
# 다음 데이터프레임 정보를 참고해서 만들려고 해.

# CREATE TABLE real_estate_seoul (
#     YM VARCHAR(10) NOT NULL,
#     GU VARCHAR(100) NOT NULL,
#     TID VARCHAR(50) NOT NULL,
#     transaction_amount VARCHAR(100),
#     transaction_type VARCHAR(100),
#     construction_year VARCHAR(100),
#     year VARCHAR(100),
#     dong VARCHAR(100),
#     registration_date VARCHAR(100),
#     seller VARCHAR(100),
#     buyer VARCHAR(100),
#     legal_dong VARCHAR(100),
#     apartment VARCHAR(100),
#     month INT,
#     day INT,
#     exclusive_area FLOAT,
#     agent_location VARCHAR(100),
#     jibun VARCHAR(100),
#     region_code VARCHAR(100),
#     floor INT,
#     cancellation_reason_date VARCHAR(100),
#     cancellation_status VARCHAR(100),
#     PRIMARY KEY (YM, GU, TID)
# );

In [46]:
# pymysql을 사용하여 MariaDB에 연결
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='dbmaria', charset='utf8')
# 커서 생성
cur = conn.cursor()

In [37]:
# User 테이블 생성
# cur.execute('''CREATE TABLE IF NOT EXISTS user (
#                 nameUser VARCHAR(255),
#                 ageUser INTEGER,
#                 phoneUser VARCHAR(20)
#             )''')

In [47]:
# # 데이터 프레임의 데이터를 데이터베이스에 삽입
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO real_estate_seoul (
            YM, GU, TID, 
            transaction_amount, 
            transaction_type, 
            construction_year, 
            year,
            dong, 
            registration_date, 
            seller, buyer, 
            legal_dong, 
            apartment, 
            month, 
            day,
            exclusive_area, 
            agent_location, 
            jibun, 
            region_code, 
            floor,
            cancellation_reason_date, 
            cancellation_status
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['YM'],
        row['GU'],
        row['TID'],
        row['거래금액'],
        row['거래유형'],
        row['건축년도'],
        row['년'],
        row['동'],
        row['등기일자'],
        row['매도자'],
        row['매수자'],
        row['법정동'],
        row['아파트'],
        row['월'],
        row['일'],
        row['전용면적'],
        row['중개사소재지'],
        row['지번'],
        row['지역코드'],
        row['층'],
        row['해제사유발생일'],
        row['해제여부']
    ))

In [48]:
# 변경사항 커밋
conn.commit()

# 연결 종료
conn.close()

- 또다른 INSERT 구문 예시 (수정 필요)

In [ ]:
#############################################
### 최종 버전
# cursor.execute("select * from sbuck_address2")
# rows = cursor.fetchall()

# if rows : # 레코드 있는 경우 : 레코드 조회
#     for row in rows :
#         for i in range(0,len(rows[0])):
#             print(f"{row[i]}", end = ' ')
#         print(f"\n")
#     print('전체 레코드 수 : ', len(rows))
    
# else: # 레코드 없는 경우 : 레코드 추가
#     len_df = len(df) 
#     print(f"{len_df} : 레코드 추가")
#     for i in range(0, len(df)):
#         sql = """INSERT INTO sbuck_address2 \
#         (sido_code, gugun_code, s_code, doro_address, open_dt) \
#         VALUES (%s, %s, %s, %s, %s)"""
#         val = (df.iloc[i,0], df.iloc[i,1], df.iloc[i,2], df.iloc[i,3],
#                df.iloc[i,4])
#         cursor.execute(sql, val)
#         conn.commit()