# Part 5. 데이터 전처리

In [ ]:
# 라이브러리 불러오기
import seaborn as sns

In [ ]:
# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')
df

In [ ]:
df.info()

In [ ]:
df['deck'].value_counts(dropna=False)

In [ ]:
# deck 열의 NaN 개수 계산하기
nan_deck = df['deck'].value_counts(dropna=False) 
nan_deck

In [ ]:
# isnull() 메서드로 누락 데이터 찾기
df.head().isnull()

In [ ]:
# notnull() 메서드로 누락 데이터 찾기
df.tail().notnull()

In [ ]:
# isnull() 메서드로 누락 데이터 개수 구하기
df.isnull().sum(axis=0)

In [ ]:
# for 반복문으로 각 열의 NaN 개수 계산하기
missing_df = df.isnull()
for col in missing_df.columns:
    missing_count = missing_df[col].value_counts()    # 각 열의 NaN 개수 파악

    try: 
        print(col, ': ', missing_count[True])   # NaN 값이 있으면 개수를 출력
    except:
        print(col, ': ', 0)                     # NaN 값이 없으면 0개 출력

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(axis=1)

In [ ]:
# NaN 값이 500개 이상인 열을 모두 삭제 - deck 열(891개 중 688개의 NaN 값)
df_thresh = df.dropna(axis=1, thresh=500)
df_thresh

In [ ]:
df_thresh.columns

In [ ]:
# age 열에 나이 데이터가 없는 모든 행을 삭제 - age 열(891개 중 177개의 NaN 값)
df_age = df.dropna(subset=['age'], how='any', axis=0)  
df_age

In [ ]:
len(df_age)

In [ ]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')
df

In [ ]:
# age 열의 첫 10개 데이터 출력 (5 행에 NaN 값)
df['age'].head(10)

In [ ]:
df.mean(axis=1)

In [ ]:
# age 열의 NaN값을 다른 나이 데이터의 평균으로 변경하기
mean_age = df['age'].mean(axis=0)   # age 열의 평균 계산 (NaN 값 제외)
mean_age

In [ ]:
df['age'].fillna(mean_age, inplace=True)
df

In [ ]:
# age 열의 첫 10개 데이터 출력 (5 행에 NaN 값이 평균으로 대체)
print(df['age'].head(10))

In [ ]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')
df

In [ ]:
# embark_town 열의 829행의 NaN 데이터 출력
df['embark_town'][825:830]

In [ ]:
df['embark_town'].value_counts()#.idxmax()

In [ ]:
# embark_town 열의 NaN값을 승선도시 중에서 가장 많이 출현한 값으로 치환하기
most_freq = df['embark_town'].value_counts(dropna=True).idxmax() 
most_freq

In [ ]:
df['embark_town'].fillna(most_freq, inplace=True)
# embark_town 열 829행의 NaN 데이터 출력 (NaN 값이 most_freq 값으로 대체)
df['embark_town'][825:830]

In [ ]:
df.isnull().sum()

In [ ]:
# 라이브러리 불러오기
import seaborn as sns
# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')
# embark_town 열의 829행의 NaN 데이터 출력
df['embark_town'][825:831]

In [ ]:
# embark_town 열의 NaN값을 바로 앞에 있는 828행의 값으로 변경하기
df['embark_town'].fillna(method='ffill', inplace=True) #뒤에꺼 'bfill'
df['embark_town'][825:831]

In [ ]:
import pandas as pd
# 중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})
df

In [ ]:
# 데이터프레임 전체 행 데이터 중에서 중복값 찾기
df_dup = df.duplicated()
df_dup

In [ ]:
# 데이터프레임의 특정 열 데이터에서 중복값 찾기
col_dup = df['c2'].duplicated()
col_dup

In [ ]:
# 데이터프레임에서 중복 행을 제거
df2 = df.drop_duplicates()
df2

In [ ]:
### 참고 : 나중에 나올 예정인 함수들...
pd.DataFrame((df['c2'].astype(str)+df['c3'].astype(str)).unique())

In [ ]:
# c2, c3열을 기준으로 중복 행을 제거
df3 = df.drop_duplicates(subset=['c2', 'c3'])
df3

In [ ]:
# 라이브러리 불러오기
import pandas as pd
# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)
# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 
df.head(3)

In [ ]:
# mpg(mile per gallon)를 kpl(kilometer per liter)로 변환 (mpg_to_kpl = 0.425)
mpg_to_kpl = 1.60934 / 3.78541
mpg_to_kpl

In [ ]:
# mpg 열에 0.425를 곱한 결과를 새로운 열(kpl)에 추가
df['kpl'] = df['mpg'] * mpg_to_kpl
df.head(3)

In [ ]:
# kpl 열을 소수점 아래 둘째 자리에서 반올림 
df['kpl'] = df['kpl'].round(2)
df.head(3)

In [ ]:
# 각 열의 자료형 확인
df.dtypes

In [ ]:
# horsepower 열의 고유값 확인
df['horsepower'].unique()

In [ ]:
# 누락 데이터('?') 삭제 
import numpy as np
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df['horsepower'].unique()

In [ ]:
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제

In [ ]:
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

In [ ]:
# horsepower 열의 자료형 확인
df['horsepower'].dtypes

In [ ]:
# origin 열의 고유값 확인
df['origin'].unique()

In [ ]:
# 정수형 데이터를 문자형 데이터로 변환 
df['origin'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)
df

In [ ]:
# origin 열의 고유값과 자료형 확인
df['origin'].unique()

In [ ]:
df['origin'].dtypes

In [ ]:
# origin 열의 문자열 자료형을 범주형으로 변환
df['origin'] = df['origin'].astype('category')     
df['origin'].unique()

In [ ]:
df['origin'].dtypes

In [ ]:
# 범주형을 문자열로 다시 변환
df['origin'] = df['origin'].astype('str')     
df['origin'].dtypes

In [ ]:
df['model year'].dtypes

In [ ]:
# model year 열의 정수형을 범주형으로 변환
df['model year'].sample(3)
df['model year'] = df['model year'].astype('category') 
df['model year'].sample(3)

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [ ]:
# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)

In [ ]:
# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 
df

In [ ]:
# horsepower 열의 누락 데이터('?') 삭제하고 실수형으로 변환
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

In [ ]:
df['horsepower'].sort_values()

In [ ]:
np.histogram(df['horsepower'], bins=3)

In [ ]:
# np.histogram 함수로 3개의 bin으로 나누는 경계 값의 리스트 구하기
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
bin_dividers

In [ ]:
# 3개의 bin에 이름 지정
bin_names = ['저출력', '보통출력', '고출력']

In [ ]:
# pd.cut 함수로 각 데이터를 3개의 bin에 할당
df['hp_bin'] = pd.cut(x=df['horsepower'],     # 데이터 배열
                      bins=bin_dividers,      # 경계 값 리스트
                      labels=bin_names,       # bin 이름
                      include_lowest=True)    # 첫 경계값 포함

In [ ]:
# horsepower 열, hp_bin 열의 첫 15행을 출력
print(df[['horsepower', 'hp_bin']].head(15))

In [ ]:
# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [ ]:
# horsepower 열의 누락 데이터('?') 삭제하고 실수형으로 변환
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

In [ ]:
# np.histogram 으로 3개의 bin으로 나누는 경계 값의 리스트 구하기
count, bin_dividers = np.histogram(df['horsepower'], bins=3)

# 3개의 bin에 이름 지정
bin_names = ['저출력', '보통출력', '고출력']

# pd.cut 으로 각 데이터를 3개의 bin에 할당
df['hp_bin'] = pd.cut(x=df['horsepower'],     # 데이터 배열
                      bins=bin_dividers,      # 경계 값 리스트
                      labels=bin_names,       # bin 이름
                      include_lowest=True)    # 첫 경계값 포함

In [ ]:
pd.get_dummies(df['hp_bin'])

In [ ]:
# hp_bin 열의 범주형 데이터를 더미 변수로 변환
horsepower_dummies = pd.get_dummies(df['hp_bin'])
horsepower_dummies.head(15)

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 

# horsepower 열의 누락 데이터('?') 삭제하고 실수형으로 변환
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

# np.histogram 으로 3개의 bin으로 나누는 경계 값의 리스트 구하기
count, bin_dividers = np.histogram(df['horsepower'], bins=3)

# 3개의 bin에 이름 지정
bin_names = ['저출력', '보통출력', '고출력']

# pd.cut 으로 각 데이터를 3개의 bin에 할당
df['hp_bin'] = pd.cut(x=df['horsepower'],     # 데이터 배열
                      bins=bin_dividers,      # 경계 값 리스트
                      labels=bin_names,       # bin 이름
                      include_lowest=True)    # 첫 경계값 포함

In [ ]:
df

In [ ]:
# sklern 라이브러리 불러오기
from sklearn import preprocessing

In [ ]:
# 전처리를 위한 encoder 객체 만들기
label_encoder = preprocessing.LabelEncoder()       # label encoder 생성
onehot_encoder = preprocessing.OneHotEncoder()     # one hot encoder 생성

In [ ]:
# label encoder로 문자열 범주를 숫자형 범주로 변환
onehot_labeled = label_encoder.fit_transform(df['hp_bin'].head(15))  
onehot_labeled

In [ ]:
type(onehot_labeled)

In [ ]:
# 2차원 행렬로 형태 변경
onehot_reshaped = onehot_labeled.reshape(len(onehot_labeled), 1) 
onehot_reshaped

In [ ]:
type(onehot_reshaped)

In [ ]:
# 희소행렬로 변환
onehot_fitted = onehot_encoder.fit_transform(onehot_reshaped)
onehot_fitted

In [ ]:
type(onehot_fitted)

## 정규화

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [ ]:
# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)
# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']  
df

In [ ]:
# horsepower 열의 누락 데이터('?') 삭제하고 실수형으로 변환
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

In [ ]:
# horsepower 열의 통계 요약정보로 최대값(max)을 확인
df['horsepower'].describe()

In [ ]:
# horsepower 열의 최대값의 절대값으로 모든 데이터를 나눠서 저장
df['norm_max'] = df['horsepower'] / abs(df['horsepower'].max())

In [ ]:
df['norm_max'].head()

In [ ]:
df['norm_max'].describe()

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [ ]:
# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)

In [ ]:
# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']  

# horsepower 열의 누락 데이터('?') 삭제하고 실수형으로 변환
df['horsepower'].replace('?', np.nan, inplace=True)      # '?'을 np.nan으로 변경
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제
df['horsepower'] = df['horsepower'].astype('float')      # 문자열을 실수형으로 변환

In [ ]:
# horsepower 열의 통계 요약정보로 최대값(max)과 최소값(min)을 확인
df['horsepower'].describe()

In [ ]:
# horsepower 열의 최대값의 절대값으로 모든 데이터를 나눠서 저장
min_x = df.horsepower - df.horsepower.min()
min_max = df.horsepower.max() - df.horsepower.min()
df['norm_min_max'] = min_x / min_max

In [ ]:
df['horsepower'].head()

In [ ]:
df['norm_min_max'].describe()