# 파이썬 활용 디지털마케팅 데이터분석 및 기획

# Today's mission

- 오리엔테이션(워밍업, 과정소개 등)
- 실습 프로젝트 및 경진대회 소개(계획, 팀구성, 발표 등)
- 파이썬/아나콘다 설치 및 쥬피터 노트북 개발환경 설정
- 디지털마케팅을 위한 데이터 분석 개요
- 디지털마케팅을 위한 데이터 분석 프로세스

]

## Day01-1A 오리엔테이션

]

### 워밍업

- [파이썬 Python ?](https://wikidocs.net/6)


- [데이터 분석?](https://miro.medium.com/max/1986/1*jd_xgOzAFw7rBklREtgOTQ.png)


- [데이터분석가 커리어](https://project-notwork.tistory.com/m/13)

]

### 과정소개

- 대상 : 기존 빅데이터 분석과정 수강생을 대상으로 실무형 분석사례 경험을 통해 고급 분석가로 성장하기 위해 필요한 현업 적응력을 높일 수 있도록 과정을 진행합니다



- 구성 : 수학적, 통계적 지식 크게 필요치 않으며, 프로그래밍 언어보다 디지털마케팅 분석 다양한 분야 경험할 수 있도록 계획


- 주요 커리큘럼 :

    1) 디지털마케팅을 위한 데이터 분석 개요
    
    2) 고객 Funnel 분석
    
    3) 예측 모델링
    
    4) 신규 지표 개발
    
    등 ...

]

### Ice breaking

- 이름 :
- 소개 :
- 수강 목적(희망 목표) : 결석없이 끝까지! :-)

]

### 실습 프로젝트 및 경진대회 소개(계획, 팀구성, 발표 등)

- 마지막 수업시간 실습 프로젝트 발표 필수 진행 : 강의 보다 실습형 과정
- 프로젝트 기획도 하나의 데이터 분석의 스킬  
  : 웹 리서치, 경진대회 등 참고 데이터 및 주제 조사
- 참고 : [데이콘](https://dacon.io/), [kaggle](https://www.kaggle.com/datasets) 외 다양한 데이터거래소, 기업 등 경진대회
- 2주차까지 팀구성 및 계획 수립 후 2주간 분석 실습을 통해 마지막 수업시간 발표 진행
- 팀 구성은 수강생 인원에 따라 3~4명으로 구성 : 자발적 구성 또는 강사에게 요청
- 주제와 사용 데이터에는 제한이 없으며 중간 과정에 필요한 사항에 대해서는 강사에게 요청
- 발표는 데이터 수집/분석/시각화/결과를 쥬피터 노트북으로 시연 또는 PPT로 핵심 결과만 요약 가능

]

## Day01-1B 파이썬 설치

]

### 파이썬/아나콘다 설치 및 쥬피터 노트북 개발환경 설정

- 파이썬 Python 설치 (IDE : Jupyter Notebook) -

1) anaconda 사이트 접속 ( https://www.anaconda.com/distribution/ )
   
  - 현재 다운로드 가능한 버전 보다 이전 2021-11 버전 설치 권장
  - 홈페이지 하단 ADDITIONAL INSTALLERS에서 archive 선택후 Anaconda3-2021.11-Windows-x86_64.exe 설치 

2) 설치 참조 자료 : [아나콘다 설치와 주피터](http://www.openwith.net/wp-content/uploads/2018/01/%EC%95%84%EB%82%98%EC%BD%98%EB%8B%A4%EC%99%80-%EC%A3%BC%ED%94%BC%ED%84%B0.pdf)

3) 파이썬 자습서 (공식 번역 문서) :
https://docs.python.org/ko/3/tutorial/index.html

]

###  쥬피터 노트북 사용법

**Jupyter notebook 특징**
- 1) 주피터 노트북은 파이썬 코드를 웹 브라우저에서 실행할 수 있도록 해주는 대화식(Interactive) 환경
- 2) 코드 작성 뿐만 아니라 메모까지 쉽게 작성 ( 주피터 노트북 만으로 분석 리포트 작성 )
- 3) 파이썬 뿐만 아니라 R, Java, C 등 수많은 언어를 사용할 수 있음



**단축키는 위의 메뉴창에 `Help -> Keyboard Shortcuts`에서 확인할 수 있고, 코드 작성을 위한 필수적인 주요 단축키는 다음과 같음.**


*블록 선택 모드 (왼쪽의 표시가 "파란색" )에 작동하는 단축키들*
- `m` : 블록을 Markdown 블록으로 변환합니다. Markdown 모드는 메모를 작성하기에 적합합니다.
- `y` : 블록을 Code 블록으로 변환합니다.
- `a` : 현재 선택되어 있는 블록의 위에 새로운 블록을 추가합니다. (Above)
- `b` : 현재 선택되어 있는 블록의 아래에 새로운 블록을 추가합니다. (Below)
- `dd` : 현재 선택되어 있는 블록을 지웁니다. (Delete)

*작성 모드 (왼쪽의 표시가 "초록색" )에 작동하는 단축키들*
- `Shift + Enter` : 현재 선택한 블록의 코드를 실행합니다. 
- `Alt + Enter` : 코드 실행후 셀 추가
- `Shift + Tab` : 툴팁 도움말
- `Ctrl + Shift + - ` : 셀 나누기
- `Shift + M` : 셀 합치기
- `Ctrl + /` : comment


**기본 작업 폴더 설정 :
- 작업폴더(새 폴더로 생성)에 대한 심볼릭 링크 설정

mklink /d "C:\Users\유저명\링크명" "D:\작업폴더"

### Colab 소개

> **특징**
- 1) Google에서 제공하는 인터넷 기반 Python 실습환경 (별도 개인PC 에 설치 필요없음)
- 2) 64비트 플랫폼 제공, Jupyter notebook 형식의 개발환경 사용

> **접속경로** 
- https://colab.research.google.com/

>  **참고자료**
- [Google Colaboratory 시작하기 (TensorFlow 코딩하기)](https://youtu.be/inN8seMm7UI)

In [1]:
print("hello")

hello

]

## Day01-1C 디지털마케팅을 위한 파이썬 (1)

### 디지털마케팅을 위한 파이썬 기초 리뷰

  - 참고 : [점프 투 파이썬](https://wikidocs.net/book/1)

### 사칙연산

In [1]:
1 + 11

12

In [2]:
7 - 19

-12

In [3]:
3 * 5

15

In [4]:
5 / 7

0.7142857142857143

In [5]:
print(2 ** 3)     # 2의 세제곱

8

In [6]:
print(8 % 7)      # 8에서 7을 나눈 나머지 (%)

1

In [7]:
print(8 // 7)     # 8에서 7을 나눈 몫 (//)

1

### 등호 / 부등호 연산자

In [8]:
# 1에서 2를 더한 결과는 3이므로, 참(True)이 나옵니다.
1 + 2 == 3

True

In [9]:
# 1에서 2를 더한 결과는 4가 아니기 때문에, 거짓(False)이 나옵니다.
1 + 2 == 4

False

In [10]:
# 1 + 2는 3이며, 이는 4가 아닙니다. 그러므로 != 연산을 하면 참(True)이 나옵니다.
1 + 2 != 4

True

In [11]:
# 1 + 2는 3이며, 이는 4보다 작습니다. 그러므로 < 연산을 하면 결과는 참(True)이 나옵니다.
1 + 2 < 4

True

In [12]:
# 정 반대 연산자(>)를 사용하면 결과는 자연스럽게 거짓(False)이 나온다는 것을 알 수 있습니다.
1 + 2 > 4

False

In [13]:
# 하지만 미만(<) 연산자가 아닌 이하(<=) 연산자를 사용하면 결과가 달라집니다.
# 1 + 2는 3이며, 이는 3보다 작거나 같기 때문에 결과는 참(True)이 나옵니다.
1 + 2 <= 3

True

In [14]:
# 10을 2로 나눈 나머지는 0이므로 참(True)이 나옵니다.
# 즉, 이 코드는 짝수와 홀수를 구분하는 용도로 쓰입니다.
10 % 2 == 0

True

In [15]:
# 반면, 11을 2로 나눈 나머지는 0이 아니므로 거짓(False)이 나옵니다.
11 % 2 == 0

False

In [16]:
12 % 2 == 0

True

In [17]:
12 % 3 == 0

True

In [18]:
# 12를 2로 나눈 나머지는 0이고, 마찬가지로 3으로 나눈 나머지도 0입니다.
# 그러므로 결과는 참(True)이 나옵니다.
12 % 2 == 0 and 12 % 3 == 0

True

In [19]:
(14 % 2 == 0)

True

In [20]:
(14 % 3 == 0)

False

In [21]:
# 14는 2로 나눈 나머지가 0이지만, 3으로 나눈 나머지는 0이 아닙니다.
# 그러므로 결과는 거짓(False)이 나옵니다.
(14 % 2 == 0) and (14 % 3 == 0)

False

In [22]:
# 반면 or 조건은 둘 중 하나만 참이여도 참이 되기 때문에,
# 아래의 코드는 결과적으로 참(True)이 출력됩니다.
14 % 2 == 0 or 14 % 3 == 0

True

In [23]:
11 + 22 != 33

False

In [24]:
11 + 22 == 44

False

In [25]:
11 + 22 != 44

True

In [26]:
11 + 22 < 44

True

In [27]:
11 + 22 > 44

False

In [28]:
11 + 22 < 33

False

In [29]:
11 + 22 <= 33

True

In [30]:
11 + 22 > 33

False

In [31]:
11 + 22 >= 33

True

In [32]:
10 % 2 == 0

True

In [33]:
11 % 2 == 0

False

In [34]:
12 % 2 == 0 and 12 % 3 == 0

True

In [35]:
(14 % 2 == 0) and (14 % 3 == 0)

False

In [36]:
14 % 2 == 0 or 14 % 3 == 0

True

### 변수 Variables

In [37]:
# a 변수에 3을 할당 합니다.
a = 3

In [38]:
# b 변수에 5를 할당 합니다.
b = 5

In [39]:
# 변수 a의 값 3과 변수 b의 값 5가 더해져 결과는 8이 나옵니다.
a + b

8

In [40]:
# a에는 3이 b에는 13이 할당 됩니다.
a = 3
b = 13
# 변수 a의 값 3과 변수 b의 값 13가 더해져 결과는 16이 나옵니다.
# 위의 코드와 동일한데도 결과는 다른 값이 출력됩니다. 이는 변수에 다른 값을 할당했기 때문입니다.
a + b

16

In [41]:
# a라는 변수에 3을 할당합니다.
a = 3
# a라는 변수를 활용하여 덧셈 연산을 한 뒤 뒤 다시 a에 할당할 수 있습니다.
a = a + 1

In [42]:
# 참고사항 : 쥬피터 노트북은 가장 마지막의 연산값만 출력합니다.
# 중간값 출력을 원한다면 print()를 활용하면 됩니다.
# a의 값은 4이므로 4가 출력됩니다.
print(a)

4

In [43]:
# 같은 방식으로 a에 새로운 값을 할당해보겠습니다.
# 이번에는 a가 4이므로 여기에 2를 더하면 6이 되며, 이 값을 a에 다시 할당할 수 있습니다.
a = a + 2
a

6

In [44]:
# 영문, 숫자+영문, 예약어
a = 55
b = 66

a + b

121

In [45]:
a = 33
b = 44

a + b

77

In [46]:
a = 33
a = a + 11

print(a)

44

In [48]:
#and = a + 22
#print(and)

]

### Boolean 

- 불(bool)은 참(True)과 거짓(False)만을 나타내는 개념
- True 는 1, False 는 0 과 같은 의미로 볼 수 있음

In [49]:
# 파이썬에서는 True 라는 텍스트로 참을 표현할 수 있습니다.
True

True

In [50]:
# 정 반대로 거짓은 False로 표현합니다.
False

False

In [51]:
# True와 1은 동일합니다. 반대로 True == 0을 하면 False가 나올 것입니다.
True == 1

True

In [52]:
# False와 0은 동일합니다. 반대로 False == 1을 하면 False가 나올 것입니다.
False == 0

True

In [54]:
# True와 "True"는 동일하지 않기 때문에 비교하면 False가 나옵니다.
True == "True"

False

In [55]:
# 비슷하게 False "False"는 동일하지 않기 때문에 False라고 나옵니다.
False == "False"

False

In [56]:
"False"

'False'

In [57]:
1 + 2 != 4

True

###  문자열 (1)

In [57]:
# 가령 정수형(1)과 문자열("2")를 더할 경우 에러가 납니다.
# 왜냐하면 정수형과 문자열을 덧셈을 할 수 없기 때문입니다.
#1 + "2"

In [58]:
# 가령 위 에러는 이렇게 수정할 수 있습니다.
1 + 2

3

In [59]:
# 또는 이렇게도 수정할 수 있습니다.
# (파이썬에서는 문자열끼리 덧셈(+)을 하면 두 문자열을 앞뒤로 붙입니다)
"1" + "2"

'12'

#### 문자열 포맷팅(formatting)

In [60]:
# 먼저 apple와 days라는 두 개의 변수를 할당합니다.
apple = 3
days = 5

In [61]:
# 파이썬의 format이라는 기능을 사용합니다.
# .format() 안에 두 개의 변수(apple, days)를 순서대로 넣고,
# 이 순서를 중괄호를 활용해 {0}, {1} 로 문자열 안에 적습니다.
# 단 프로그래밍 언어에서 모든 숫자의 시작은 0부터 시작한다는 것에 유의합니다.
"I ate {0} apple for {1} days".format(apple, days)

'I ate 3 apple for 5 days'

In [62]:
# 새로운 버전의 파이썬(3.6+)은
# 아래와 같이 더 간결한 방식으로 포메팅을 할 수 있습니다.
f"I ate {apple} bananas for {days} days."

'I ate 3 bananas for 5 days.'

In [63]:
# 두 개의 소수점 값을 변수에 할당합니다.
float_a = 0.987654321
float_b = 0.123456789

In [64]:
# float_a 라는 변수에 할당한 값은 소수점 세 자리까지(0:.3)
# float_b 에 할당한 값은 소수점 다섯 자리까지(1:.5) 출력합니다.
"[Accuracy] Model A = {0:.3} Model B = {1:.5}".format(float_a, float_b)

'[Accuracy] Model A = 0.988 Model B = 0.12346'

In [65]:
# 당연하지만 신버전 포메팅을 사용해서 자릿수를 줄여서 출력할 수도 있습니다.
f"[Accuracy] Model A = {float_a:.5f} Model B = {float_b:.3f}"

'[Accuracy] Model A = 0.98765 Model B = 0.123'

In [66]:
"Henry's job"

"Henry's job"

### 문자열 (2)

In [67]:
message = "Hello, World!"
message

'Hello, World!'

In [69]:
# 문자열의 n 번째 알파벳을 출력할 수 있습니다. 이를 인덱싱(Indexing)이라고 합니다.
# 앞서 말씀 드린대로, 모든 프로그래밍 언어는 0부터 숫자를 셉니다.
print(message[0])
print(message[4])

print("----")

# 뒤에서부터 문자를 출력할 때는 -1부터 시작합니다.
print(message[-1])
print(message[-2])

H
o
----
!
d

In [70]:
# 문자열의 특정 부분만 출력할 수 있습니다. 이를 슬라이싱(slicing)이라고 합니다.
# 0:4는 0 번째부터 4번째의 바로 앞인 3 번째까지 출력합니다.
print(message[0:4])

# 위 코드에서는 0을 생략할 수 있습니다.
print(message[:4])

# 비슷한 원리로 끝나는 부분도 생략 가능합니다.
# 이 경우는 문자열의 맨 마지막까지 슬라이싱합니다.
message[4:]

Hell
Hell

'o, World!'

In [71]:
"Hell" in message

True

In [72]:
# in 을 통해 문자열 안에 특정 문자 내지는 문자열이 있는지 확인 할 수 있습니다.
# Hello World에는 H가 있기 때문에 참(True)이 나옵니다.
print("H" in message)

True

In [73]:
# 하지만 Hello World에는 A가 없기 때문에 참(True)이 나옵니다.
print("A" in message)

False

In [74]:
# 파이썬은 대소문자를 구분합니다.
# 그러므로 "H"는 참(True)이 나오지만 "h"는 거짓(False)이 나옵니다.
print("h" in message)

False

In [75]:
# 알파벳 뿐만 아니라 문장도 in 연산자를 사용할 수 있습니다.
print("Hell" in message)

True

In [76]:
# upper() 메소드는 모든 문자를 대문자로 변환해주는 함수입니다.
message.upper()

'HELLO, WORLD!'

In [77]:
# lower() 메소드는 모든 문자를 소문자로 변환해주는 함수입니다.
message.lower()

'hello, world!'

In [78]:
# count() 메소드는 문자열 내에 특정 문자열/알파벳이 몇 개 있는지 세줍니다.
# 아래 코드는 "Hello World"에서 "o"라는 알파벳이 몇 개 있는지를 세줍니다.
message.count("o")

2

In [79]:
# replace() 메소드는 문자열의 특정 부분을 교체할 수 있습니다.
# 다음 코드는 "Hello World"에서 H를 J로 교체합니다.
message.replace("H", "J")

'Jello, World!'

In [80]:
# split() 메소드는 문자열을 쪼개서 리스트를 만들 수 있습니다.
# split() 안에 특정 문자열을 지정하면 (ex: " ") 해당 문자열을 기준으로 쪼갭니다.
message.split(" ")

['Hello,', 'World!']

In [81]:
# strip() 메소드는 문자열 좌우에 있는 공백을 제거해줍니다.
# 결과적으로 "   Hello World!  " 문자열이 "Hello World!"로 바뀝니다.
"   Hello, World!  ".strip()

'Hello, World!'

In [82]:
print(message.lower())

hello, world!

In [83]:
print(message.upper())

HELLO, WORLD!

In [84]:
print(message.count("h"))

0

In [85]:
print(message.replace("H", "J"))

Jello, World!

In [86]:
message_split = message.split(" ")

In [87]:
print(message, message_split)

Hello, World! ['Hello,', 'World!']

### 리스트 List

- Python 에서 List 는 다른 개발언어에서 Array(배열) 기능과 유사
- 여러 개의 값(숫자, 문자 등) 을 1개로 묶어서 변수에 할당하는 역할

In [88]:
# 리스트를 만들 때는 대괄호([])를 사용합니다.
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [89]:
# 문자열과 마찬가지로, 인덱싱을 통해 리스트의 n 번째 값을 출력할 수 있습니다.
print(odd[0])
print(odd[1])

print("----")

# 뒤에서부터 값을 가져오는 것도 동일합니다.
print(odd[-1])
print(odd[-2])

1
3
----
9
7

In [90]:
# 슬라이싱도 동일하게 사용할 수 있습니다.
# 아래의 코드는 리스트에서 0번째 값과 4번째 바로 앞에 있는 값(=3번째 값)을 가져옵니다.
odd[0:4]

[1, 3, 5, 7]

In [91]:
# 위 코드에서는 0을 생략할 수 있습니다.
odd[:4]

[1, 3, 5, 7]

In [92]:
# 비슷한 원리로 끝나는 부분도 생략 가능합니다.
# 이 경우는 자연스럽게 문자열의 맨 마지막까지 슬라이싱합니다.
odd[3:]

[7, 9]

In [93]:
# 문자열과 마찬가지로 리스트에 특정값이 포함되어 있는지 확인할 수 있습니다.
# 아래의 코드는 odd라는 리스트에 1이 들어가 있는지 확인합니다.
print(1 in odd)

# odd는 홀수이기 때문에 2는 들어가 있지 않습니다.
print(2 in odd)

# 하지만 3은 들어가 있는 것을 확인할 수 있습니다.
print(3 in odd)

True
False
True

In [94]:
odd

[1, 3, 5, 7, 9]

In [95]:
# .append() 라는 메소드를 이용하면 리스트에 값을 추가할 수 있습니다.
# 다음의 코드는 odd라는 리스트에 11이라는 값을 추가합니다.
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

In [96]:
# 정 반대의 기능을 담당하는 것은 .pop()입니다.
# 이 기능을 사용하면 리스트의 마지막 값을 제거합니다.
odd.pop()
odd

[1, 3, 5, 7, 9]

In [97]:
# 마지막이 아닌 특정 위치에 있는 값을 지우고 싶다면 del을 사용합니다.
# 아래 코드는 odd 리스트에 있는 3번째 값(7)을 제거합니다.
del odd[3]
odd

[1, 3, 5, 9]

In [98]:
# 만일 특정한 값을 지우고 싶다면 .remove() 라는 메소드를 사용합니다.
# 아래 코드는 리스트에서 값이 3인 숫자만을 제거합니다.
odd.remove(3)
odd

[1, 5, 9]

In [99]:
# 만일 맨 뒤가 아닌 특정 위치에 값을 넣고 싶다면 .insert()를 사용합니다.
# 아래의 코드는 odd라는 리스트의 0번째에 3이라는 숫자를 집어넣습니다.
odd.insert(0, 3)
odd

[3, 1, 5, 9]

In [100]:
# .sort()는 리스트에 있는 값을 정렬합니다.
# 숫자는 작은 순으로, 알파벳은 빠른 순으로('a' - 'z') 정렬합니다.
odd.sort()#reverse=True)
odd

[1, 3, 5, 9]

In [101]:
# 리스트에서는 덧셈(+)을 사용해서 리스트와 리스트를 합쳐줄 수 있습니다.
# 아래의 코드는 odd라는 리스트와 [13, 15, 17, 19] 라는 리스트를 앞뒤로 붙여줍니다.
odd = odd + [13, 15, 17, 19]
odd

[1, 3, 5, 9, 13, 15, 17, 19]

In [102]:
# 리스트의 인덱싱을 활용하면 특정한 위치에 있는 값을 바꿔줄 수 있습니다.
# 아래의 코드는 odd라는 리스트의 3번째와 5번째에 있는 값을 -1로 변경해줍니다.
odd[3] = -1
odd[5] = -1
odd

[1, 3, 5, -1, 13, -1, 17, 19]

#### List : Call by reference

In [103]:
a = [1,2,3,4,5]

b = a
b[0] = 100

print(a)
print(b)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [104]:
print(id(a))   # id() 변수가 저장된 메모리 주소값을 알려주는 함수
print(id(b))   # b = a 과정에서 값이 복사 Assign 되는 것이 아니고, 
               # 주소값이 전달된 것으로 확인가능

1817417338432
1817417338432

In [105]:
a = [1,2,3,4,5]

b = a.copy()
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [107]:
# List(이외 dict, set 형도 동일함) 형이 아닐 경우는 
# Call by reference 발생하지 않음 (Call by Value)
a = 200
b = a

a = 300
print(a)
print(b)

300
200

In [108]:
[]
{}
()

()

## Day01-1C 디지털마케팅을 위한 파이썬 (2)

### 딕셔너리(사전형) Dictionary

- 딕셔너리는 리스트와 유사
- 리스트와의 차이점은, 
  - 1) 리스트는 여러 값(Value)을 순차적으로 담아서 가져오지만, 
  - 2) 딕셔너리는 키(Key)를 지정해주면 키에 해당하는 값(Value)을 가져옴

In [109]:
# 이 딕셔너리는 키(Key)와 값(Value)으로 이루어짐
voca = {"apple":"사과", "cherry":"체리", "orange":"오렌지"}
voca

{'apple': '사과', 'cherry': '체리', 'orange': '오렌지'}

In [110]:
print(voca['apple'])

사과

In [111]:
voca["pipeapple"] = "파인애플"

In [112]:
voca

{'apple': '사과', 'cherry': '체리', 'orange': '오렌지', 'pipeapple': '파인애플'}

In [113]:
# 특정 값을 제거하고 싶다면 del 을 사용
del voca["cherry"]
voca

{'apple': '사과', 'orange': '오렌지', 'pipeapple': '파인애플'}

In [114]:
# .keys()는 딕셔너리의 키(Key)들의 리스트를 가져옴
voca.keys()

dict_keys(['apple', 'orange', 'pipeapple'])

In [115]:
# .values()는 딕셔너리의 값(Value)들의 리스트를 가져옴
voca.values()

dict_values(['사과', '오렌지', '파인애플'])

In [116]:
# in 연산자 검색 가능
print('apple' in voca)
print('dish' in voca)

True
False

### 제어문 :  if ~ elif ~ else condition

참고 : https://velog.io/@yejin20/Python

In [117]:
age = 30

In [119]:
if age < 19:
    print("학생")
else:
    print("일반인")

일반인

In [120]:
age = 5

In [121]:
if age < 10:
    print("어린학생")
#if ~ elif 는 위에서부터 차례대로 검사하는데, 
#위에서 참이 나오면 참인 명령만 실행하고 끝남.
#elif 도 else와 마찬가지로 앞에 if 가 있어야 사용할 수 있음.
#elif 는 else와 다르게 여러개 사용할 수 있음.
elif age < 19:
    print("학생")
else:
    print("일반인")

어린학생

In [122]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [123]:
if not 3 in odd:
    print("3 not exist")
else:
    print("3 exist")

3 exist

### 반복문 for loop

In [124]:
basket = ["apple", "banana", "cherry", "pineapple"]
basket

['apple', 'banana', 'cherry', 'pineapple']

In [125]:
product = basket[0]
print(product)

apple

In [126]:
for i in basket:
    print(i)

apple
banana
cherry
pineapple

In [127]:
# range의 경우 마지막 숫자는 제외 
for i in range(1,10+1,2):
    print(i)

1
3
5
7
9

In [129]:
for i in range(1,10):
    if i == 2:
        continue
    elif i == 8:
        print(i)
        break
    else:
        print(i)

1
3
4
5
6
7
8

### 함수 Function

In [130]:
### 함수1
def multiply(a, b):
    # a 변수의 값과 b변수의 값을 곱한 뒤, c 변수에 저장
    c = a * b
    # c 변수 값을 반환 
    return c

In [131]:
multiply(2, 3)

6

In [127]:
#??multiply

In [132]:
multiply(3, 4)

12

In [133]:
### 함수2
def self_introduce(name, job = 'Engineer'):
    print(f'My name is {name}, and I am a {job}.')

In [134]:
self_introduce('MegaPerson')

My name is MegaPerson, and I am a Engineer.

In [135]:
self_introduce('ITperson', 'Teacher')

My name is ITperson, and I am a Teacher.

### Formatiing

In [136]:
info_date = '2022-01-19'
info_day = '수요일'

# 파이썬의 format이라는 기능을 사용합니다.
# .format() 안에 두 개의 변수(bananas, days)를 순서대로 넣고,
# 이 순서를 중괄호를 활용해 {0}, {1} 로 문자열 안에 적습니다.
# 단 프로그래밍 언어에서 모든 숫자의 시작은 0부터 시작한다는 것에 유의합니다.
"Today's date is {0} and {1}, right?".format(info_date, info_day)

"Today's date is 2022-01-19 and 수요일, right?"

In [137]:
f"Today's date is {info_date} and {info_day}, right?"

"Today's date is 2022-01-19 and 수요일, right?"

### 전역변수/지역변수

In [138]:
var1 = 10

def test(a):
    # var1에 test함수의 인자로 입력받은 a를 할당
    var1 = a
    print(var1)
    
# test 함수에 5의 값을 넣고 실행
test(5)

5

In [139]:
var1

10